[2019-06-26 14:40] robertaboukhalil opened #1 "Missing CORS headers in Chrome"
Hey, this tool is awesome!

The examples work great on Firefox, but on Chrome I get a `wapm shell error: TypeError: Failed to fetch` error because of missing CORS headers:

<img width="1433" alt="2019-06-26-wapm-shell" src="https://user-images.githubusercontent.com/2009870/60189100-3e4c3f00-97e5-11e9-9214-405bd3f37d14.png">

[2019-06-30 15:32] robertaboukhalil opened #2 "Support for multiple pipes"
Probably a known issue but it would be nice to support multiple pipes. 😄

Currently it seems it only considers the first pipe, e.g.:

[code]

[2019-08-06 00:00] #1 closed, assigned to nobody

[2019-08-06 00:26] #2 closed, assigned to nobody

[2019-08-07 00:33] torch2424 opened #8 "Add support for CTRL Commands on the WAPM Shell"
Things like CTRL A, CTRL E, CTRL C etc... would be awesome!

[2019-08-14 17:38] torch2424 opened #11 "Switch Xterm to the WebGL Renderer"
Should be much faster 😄

https://github.com/xtermjs/xterm.js/pull/1790

[2019-08-28 00:50] torch2424 opened #15 "Fix text that shows in prompt() in WAPM Shell"
Right now it just shows the word Stdin. but it should show all stdout up to that point.

[2019-08-28 00:52] torch2424 opened #16 "Write integration tests for the Wasi/Wapm Services"
Just to make sure a command gets compiled and run, and can handle stdin.

[2019-08-28 00:53] torch2424 opened #17 "Create a simple file-system example"
Could be as simple as a page that loads the file system, and runs some commands on the file system within wasi (Possibly an `ls` wasm module?)😄

[2019-08-28 00:54] torch2424 opened #18 "Create some cool/fun wasm modules to demo the shell"
Maybe some cool image output, some memes, or maybe a game? 🤔

[2019-08-28 00:55] torch2424 opened #19 "Do some project cleanup"
Cleanup TODOs and things, and general project architecture if needed 😄

[2019-08-28 00:56] torch2424 opened #20 "Split up our libraries with lerna"
Since this will become a monorepo with all wasmer js stuff. We should split up our packages and their respective demos. And change the build system to reflect that. 😄

[2019-08-28 18:20] #15 closed, assigned to torch2424

[2019-08-29 00:30] torch2424 opened #23 "wasm-matrix doesn't handle flags correctly"
Seem's like something got weird with the flags?

[2019-08-29 00:59] syrusakbary opened #24 "LINES, COLUMNS exposed automatically"
In a normal shell, the env vars $LINES and $COLUMNS are set with the lines and columns for the given shell.

[code]

Ideally, we will have this environment variables working as well in the Wasm Terminal / WASI shell

[2019-08-29 17:47] torch2424 opened #25 "Cancelling prompt() should kill the process"
This is for firefox and safari 😄

![Screen Shot 2019-08-29 at 10 47 12 AM](https://user-images.githubusercontent.com/1448289/63963702-6e64c800-ca4a-11e9-9883-237eea306acf.png)

[2019-08-29 17:48] torch2424 opened #26 "Prompt Text should remove any ANSI Codes output by the program"
That way we don't get garbled text in continued prompts:

![Screen Shot 2019-08-29 at 10 46 58 AM](https://user-images.githubusercontent.com/1448289/63963746-8c322d00-ca4a-11e9-993b-39bf39b11024.png)

[2019-08-29 20:53] torch2424 opened #28 "Rename wapm terminal, to wasm terminal"
cc @syrusakbary

[2019-08-30 02:32] #8 closed, assigned to torch2424

[2019-08-30 02:33] #23 closed, assigned to torch2424

[2019-08-30 06:06] #25 closed, assigned to torch2424

[2019-08-30 06:22] #26 closed, assigned to torch2424

[2019-08-30 06:22] #24 closed, assigned to torch2424

[2019-08-30 07:00] syrusakbary opened #30 "rsign conversion error"
The shell can't run `rsign` because some issue when transforming:

[code]

[2019-09-01 19:50] syrusakbary opened #31 "i64 lowering only when needed"
Right now, we are doing i64 to i32 lowering always because Browsers don't currently support calling a function with a i64 signature.

However, in a few months browser WebAssembly implementations will support it (and Node as well), therefore we should check if i64 function calls are supported and in case is not, lower it.

# How we can check it?

1. Create dummy WebAssembly file with a i64 signatur

[2019-09-05 05:58] torch2424 opened #32 "Write Unit Tests for the WasmFs Package"
Should be super simple tests that just make sure bootstrapping the API works and can do simple things like read/write files :smile:

[2019-09-05 05:59] torch2424 opened #33 "Write Unit Tests for the Wasm Terminal Package"
UI: Should be simple it binds to dom, and can accept input and do certain actions :smile:

Services: May want to test the Services mostly, like they can fetch commands and things :+1:

[2019-09-05 06:00] torch2424 opened #34 "Write Docs for the Wasi Package"
Should clean up the README so it stands out on its own. Has some simple Reference docs, with one or two, concise examples.

This should all be within the README. :smile:

[2019-09-05 06:01] torch2424 opened #35 "Write docs for the wasm_transformer package"
Should clean up the README so it stands out on its own. Has some simple Reference docs, with one or two, concise examples.

This should all be within the README. :smile:

Should have both Rust, and Node / Browser examples and usage.

[2019-09-05 06:04] torch2424 opened #36 "Consider APIs / Devex of individual packages"
One of our high priority items is each individual API of each package should be clean, and needs to be considered and thought out. And tested through the tests / examples we produce :smile:

[2019-09-05 06:05] torch2424 opened #37 "Create an end-to-end simple example of our basic Wasi workflow."
We Should have a less complex that the wasm terminal example to show that builds on top of the other 3 examples.

Such as a hello world a user can set up with the transformer package, wasi package, and wasm fs package in the browser.

[2019-09-05 06:06] torch2424 opened #38 "Write docs for the Wasmfs Package"
Should clean up the README so it stands out on its own. Has some simple Reference docs, with one or two, concise examples.

This should all be within the README. smile

[2019-09-05 06:07] torch2424 opened #39 "Write docs for the wasm-terminal package"
Should clean up the README so it stands out on its own. Has some simple Reference docs, with one or two, concise examples.

This should all be within the README. smile

[2019-09-05 06:08] torch2424 opened #40 "Create a simple JS example for the wasm_transformer package"
Something as simple as a hello world the user can load and confirm that it works :smile: This should probably be done for the browser

[2019-09-05 06:11] torch2424 opened #41 "Move the final wasm shell example to it's own domain, integrate with wapm, make it a PWA"
We Should move the wasm shell example to it's own website.

* It should be a [desktop installable PWA](https://developers.google.com/web/progressive-web-apps/desktop), which we could probably easily accomplish with [preact-cli](https://github.com/preactjs/preact-cli).
* It should work offline, included pre-downloaded wapm modules.
* It should have it's own javascript based callback commands for sp

[2019-09-05 06:13] torch2424 opened #42 "Write an article about wasmer js and wasm shell"
Should cover the announcement, shouts out to devsnek, and some technical challenges.

[2019-09-09 23:11] torch2424 opened #43 "Fix Broken CTRL Commands"
I guess some additional things were broken in #22 😢

[2019-09-10 01:03] torch2424 opened #44 "Cancelling Prompt should Stop the process"
Don't know why this is broken now as well :(

Kind of related to #43

[2019-09-10 18:44] torch2424 opened #46 "Rename @wasmer/wasi_js_transformer to @wasmer/wasm_i64_lowering ?"
https://github.com/wasmerio/wasmer-js/pull/45#discussion_r322524005

[2019-09-10 18:44] #20 closed, assigned to torch2424

[2019-09-10 18:44] #28 closed, assigned to torch2424

[2019-09-11 17:14] #44 closed, assigned to torch2424

[2019-09-11 21:14] #46 closed, assigned to torch2424

[2019-09-11 23:23] torch2424 opened #50 "Implement Remaining Shortcuts in wasm-terminal"
We have most implemented, but some don't really apply to our case, or have more complex implementations (Such as word jumping / deletion)

https://www.ostechnix.com/list-useful-bash-keyboard-shortcuts/

http://defindit.com/ascii.html

[2019-09-12 00:03] #19 closed, assigned to torch2424

[2019-09-12 00:13] torch2424 opened #52 "Create a simple example for the wasi package"
Something to show off the MVP of what it does / how to use 😄

[2019-09-12 00:14] torch2424 opened #53 "Create a simple example for wasm-terminal"
Essentially, just a webpage that loads it, not using a JS framework.

[2019-09-12 00:51] torch2424 opened #55 "Fix Travis for the repo, and update yaml for sub-packages"
I think we ran out of builds or something? Would be great to get this back up and running 😄

For running sub tests, we probably just want to run: `npx lerna run test`.

[2019-09-12 17:54] #43 closed, assigned to torch2424

[2019-09-12 17:58] #32 closed, assigned to torch2424

[2019-09-13 22:00] #33 closed, assigned to torch2424

[2019-09-13 23:28] torch2424 opened #63 "Create a plugin system for the wasm-terminal"
relates to #41
relates to #36

This would be useful for implementing additional features on top of the base wasm-terminal package.

This could allow for things like saving modules to indexeddb, implementing custom callback commands (like updating cached modules, and searching for new modules), etc...

[2019-09-16 18:40] torch2424 opened #65 "Create a simple rust example for the wasm_transformer crate"
relates to #40
relates to #39

This needs to be done for #39 since we plan to publish this to crates.io and we need to be able to understand how to make a quick start 😄

[2019-09-16 22:06] #38 closed, assigned to torch2424

[2019-09-16 22:10] #34 closed, assigned to torch2424

[2019-09-16 23:50] torch2424 opened #67 "Improve the Contributing docs for packages"
Currently, all the contributing docs just outline the guidelines, but it would be great to say things like, how to install node, and the individual build commands and what they do 😄

[2019-09-17 16:35] #35 closed, assigned to torch2424

[2019-09-17 16:35] #65 closed, assigned to torch2424

[2019-09-17 21:15] #39 closed, assigned to torch2424

[2019-09-20 18:01] #63 closed, assigned to torch2424

[2019-09-23 16:49] torch2424 opened #75 "Move Examples into their respective packages"
Was thinking about this over the weekend. Would be easier to maintain, and make more sense to contributors.

[2019-09-28 00:27] torch2424 opened #80 "Fix Wasm-Terminal Tests with Comlink Source"
Only tests stil broken are onces that want to transpile comlink from source. 😢 This should be fixed after the weekend

[2019-09-30 21:14] #36 closed, assigned to torch2424

[2019-09-30 21:14] #42 closed, assigned to torch2424

[2019-09-30 22:24] #41 closed, assigned to torch2424

[2019-09-30 22:24] #80 closed, assigned to torch2424

[2019-09-30 22:29] torch2424 opened #83 "Launch Checklist"
* [x] Confirm packages look correct in Unpkg
* [x] Confirm everything in npm's Readme looks good
* [x] Test installing from npm and building a simple example works (90% done)
* [x] Decide if we should expose `WasmFs` on `Wasi` object
* [x] Allow Wapm Query to work anywhere
* [x] Fix Travis / CI (originally #55 )
* [x] Open Source this repo
* [x] Publish Article
* [x] Tweet the tweets
* [x] Write h

[2019-09-30 22:29] #55 closed, assigned to syrusakbary, torch2424

[2019-09-30 22:37] torch2424 opened #84 "Offer Development Builds, where Assets are Base64 encoded"
It was suggested by @syrusakbary that we base64 encode some of our wasm assets for a better developer experience.

Where we agreed it is the less complicated devex, I countered it is not something we should do by default:

1. Base64'ing large assets (like our wasm files), will add The wasm file size, plus an additional 33% of the wasm file size, to our bundle size.

2. Including the assets in the

[2019-10-02 04:27] tlively opened #89 "Use Asyncify to handle synchronous commands?"
The [Browser compatibility section](https://github.com/wasmerio/wasmer-js/tree/master/packages/wasm-terminal#browser-compatibility) of the README describes issues running blocking code on the browser's main thread. Have you considered using Binaryen's [asyncify](https://kripken.github.io/blog/wasm/2019/07/16/asyncify.html) pass to enable these applications to run correctly?

[2019-10-02 16:52] tlively commented on #89
Perhaps https://github.com/GoogleChromeLabs/asyncify could be useful for this!

[2019-10-02 17:22] torch2424 commented on #89
Yo! What up Thomas? 😄

So at the last WasmSf, this is what I tried to ask about without announcing this haha! 😄

So we tried running Binaryen.js to run a bunch of passes for us, but since it builds an AST and then makes changes, and then get output from that AST, it was super slow for desktop devices, and even slower on mobile. Since we wanted to make sure this would be reasonably fast on many dev

[2019-10-02 18:11] torch2424 commented on #83
Launched! 🎉 😄

[2019-10-02 18:11] #83 closed

[2019-10-02 19:10] torch2424 commented on #31
This is no longer our problem, with the new functional API 😄 That being said, would be cool to make another package that does this 👍

[2019-10-02 19:11] torch2424 commented on #18
Colsing this, as we got some cool / fun modules already on the way 😄 👍

[2019-10-02 19:11] #18 closed

[2019-10-02 19:12] torch2424 commented on #30
Also, clang and viu are not working. May be the same issue 😄

[2019-10-02 19:13] torch2424 opened #90 "Fix package watching / livereload"
Was broken by rollup's watch kinda borking out on me. Would be nice to fix! 😄 🎉

[2019-10-02 19:17] torch2424 opened #91 "Wasm-terminal: Share WasmFs file system"
Would be super awesome if commands that are piped, or all commands run in a single session, operated on the same file system.

However, this requires:

* Ripping out the specific stdin/stdout code.
* Creating one WasmFs that is passed into the terminal on contruction, and passed all the way down to the command runner.
* Having the Command runner create copies of the wasmFs object (Comlink should b

[2019-10-02 19:18] torch2424 opened #92 "Wasm-terminal: Support web links in output"
Should use https://github.com/xtermjs/xterm.js/tree/master/addons/xterm-addon-web-links

[2019-10-02 21:09] torch2424 opened #93 "Modify the wasm-pack of wasm_transformer for the npm package"
While we are waiting for: https://github.com/rustwasm/wasm-pack/pull/705

We should probably change the target from `web`, as it uses an `import.meta` that a lot of transpilers have a hard time with. That or transpile this, so that the import.meta is not called 😄

[2019-10-02 22:01] torch2424 opened #95 "Wasm-Temrinal: Allow File Redirection"
depends on #91

https://unix.stackexchange.com/questions/122977/what-is-the-correct-name-for-the-command

E.g `echo "a" > x.txt`

[2019-10-02 22:21] #90 closed

[2019-10-02 22:38] tlively commented on #89
Cc @kripken for the performance issues. It’s unfortunate that Binaryen is too slow here because this is definitely the type of use case we want to support!

[2019-10-02 22:51] kripken commented on #89
Oh, yeah, I was talking to @torch2424 about this earlier. Currently binaryen.js is not wasm (asm.js for maximum portability), and uses C++ exceptions. Once we have exceptions in wasm, we can make a wasm build, and that should be much faster.

Btw, one thing I didn't get - why is this done on the client?

[2019-10-03 01:47] torch2424 commented on #89
@tlively Yeah it is! But it's not the fault of binaryen at all, what we are trying to do is a little extreme haha! 😂

@kripken Yep! Looking forwawrd to it! 😄 And the reason why we wanted to do it on the client, as we wanted anyone to use whatever module they wanted, not just modules from WAPM. So this is something we could enable for WAPM modules, but then users would have to host their own asynci

[2019-10-03 21:21] torch2424 commented on #30
This was fixed by #97 . Clang still isn't working, but decided to do that later

[2019-10-03 21:21] #30 closed

[2019-10-04 20:17] torch2424 opened #99 "Clean up wasm_transformer rust crate"
Essentially, it should clean up the changes from #97 , and then merge some of the error naming and things from `rsign-fix` 😄

[2019-10-07 20:59] #92 closed

[2019-10-09 16:46] alocquet opened #105 "Error 404 when trying to run the example 'wasm-shell'"
When I follow the quickstart, I have a 404 error.

The steps I have followed :
* clone the repo
* npm install
* npm run dev
* --> Error 404

The problem is that 'npm run dev' launches the 'npx serve dist/' command and the 'dist' directory is empty.
I succeeded to run the example only after a 'npm run build' which generates js... in dist directory.

I don't know where is the problem (if we need to

[2019-10-09 17:38] torch2424 opened #106 "wasm-terminal: Unresponsive State"
If you CTRL+C a bunch of times, it is possible to get to a state where you can no longer enter input. 😢

[2019-10-09 17:39] torch2424 opened #107 "wasm-terminal: Extra output in QuickJS Prompting"
When running `if (3 ==3) { console.log('hello') }` We get the following:

<img width="1038" alt="Screen Shot 2019-10-09 at 09 50 33" src="https://user-images.githubusercontent.com/1448289/66505895-19709480-ea81-11e9-8bc2-a2b4f310d0c5.png">
<img width="482" alt="Screen Shot 2019-10-09 at 09 50 39" src="https://user-images.githubusercontent.com/1448289/66505897-19709480-ea81-11e9-9aee-10ca2bab6c29.p

[2019-10-09 17:40] torch2424 opened #108 "wasm-terminal: CTRL+C Wipes current line"
Should preserve line, but push onto a new line 😄

Reported by Nick 😄

[2019-10-09 17:41] torch2424 commented on #106
Reported by Mark 😄

[2019-10-09 17:41] torch2424 commented on #107
Reported by Mark 😄

[2019-10-09 17:42] torch2424 opened #109 "wasm-terminal: Double Scrollbar"
On some displays, it is possible to get multiple scrollbars.

Reported by Nick 😄

[2019-10-09 17:49] torch2424 commented on #105
Hello! @alocquet Thank you very much for opening the issue! 😄

Yes, feel free to open a PR to solve the issue if you think you have a good solution 😄 I think it may be we need to document that you should build before trying to run the development server? 🤔

In the meantime, I'll try and investigate this as well 👍 And feel free to reach out with more suggestions if you want to contribute anything!

[2019-10-09 18:58] alocquet commented on #105
Perhaps we could improve scripts to build and watch sources when we serve. But you use some libraries (lerna, rollup, chokidar) I'm not used to and I won't have time to understand this quickly.

I think that improve the documentation should be a good first step for wasmer beginners like me :) I'll make a PR.

[2019-10-09 20:19] #105 closed

[2019-10-09 20:22] torch2424 commented on #105
@alocquet

Ah yes! So originally it did do that (Build before watching), but the build times on this project are a little long ~30s. So we made it so that not every `npm run dev` builds on the command. That being said, it should definitely do this, and will probably re-implement it once we get our build times faster. Thank you! 😄

Awesome! I approved and merged the PR! Thank you very much 😄 Stoked

[2019-10-10 20:27] torch2424 opened #112 "Wasm-terminal: Handle Composition / IME Events from Mobile Firefox and Sometimes Mobile Chrome"
It's actually a bug in firefox, so simply watch this bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1587934

[2019-10-10 23:59] torch2424 commented on #108
@nlewycky Actually, on my terminal, my CTRL+C Wipes the input. So if you don't mind, I'm going to close this as it works as expected? 🤔

<img width="623" alt="Screen Shot 2019-10-10 at 4 56 51 PM" src="https://user-images.githubusercontent.com/1448289/66614830-4b682080-eb7f-11e9-9f81-b60cf45ac157.png">

[2019-10-11 00:11] nlewycky commented on #108
You pressed `^C` on the line with `asdasdasdasd`? See how `asdasdasdasd` is still visible? That's not what happens when in the webassembly shell. I press `^C` and the line of text disappears. I wanted to see that line of text.

[2019-10-11 00:21] torch2424 commented on #108
Ohhhhhh Not on the next line? Cool, I can do that I'll reopen 😄

[2019-10-11 00:46] torch2424 opened #114 "Add a version function to each package"
Similar to `wasm_transformer`. Every package should have a `.version()` function to get the version of the package 😄

[2019-10-11 04:09] syrusakbary commented on #31
I just created this PR:
https://github.com/GoogleChromeLabs/wasm-feature-detect/pull/8

We can use it to detect support for BigInts and only lower the i64 when needed;

[2019-10-11 04:54] #106 closed

[2019-10-11 04:54] #108 closed

[2019-10-11 17:07] torch2424 commented on #31
Nice! @syrusakbary 😄

[2019-10-11 22:49] torch2424 commented on #112
Actually bug was resolved as it being a bug in the mdn example code? 🤔

All in all, I think there is some weird behavior going on in mobile browsers concerning this. For example: https://stackoverflow.com/questions/42011740/event-preventdefault-not-working-for-android-chrome . Thus, we need to set the input using JS on every keypress, suing something like xterm's [onKey](https://xtermjs.org/docs/a

[2019-10-11 23:12] torch2424 opened #117 "On deploy, Also update the crate version"
Currently, the rust crate is noot being updated with each deploy with lerna. Would also be nice to have some post deploy script to sync the cargo.toml with the package.json 😄

[2019-10-11 23:17] torch2424 opened #118 "wasm-terminal: Android keyboard blur, jumps terminal history to top"
On blur, we should call `this.xterm.scrollToBottom()`. 😄

[2019-10-11 23:20] torch2424 commented on #75
Closing this, because alot of the examples depend on multiple pa ckages

[2019-10-11 23:20] #75 closed

[2019-10-14 17:03] syrusakbary commented on #31
The PRs are now merged, we can use `wasm-feature-detect>=1.2.0`.

[code]

[2019-10-14 19:17] torch2424 commented on #31
Awesome 👍

[2019-10-15 18:54] torch2424 opened #121 "Closure compile optimized bundles"
After introducing inlining, it seems that closure compiler is unhappy for some reason 🤔

Thus, we'll use terser as we are not super strained on runtime performance currently, and pre-optimizing may not be the best as well 😄

[2019-10-15 19:01] torch2424 commented on #121
Seems to only be a problem with `wasm-transformer`, not `wasm-terminal` 🤔

[2019-10-15 20:43] torch2424 commented on #121
I fixed this, it happened to be I was not transpiling the new inlining for wasm-transformer 😄 😂

[2019-10-15 20:43] #121 closed

[2019-10-17 00:04] torch2424 commented on #84
closed by #122 and #119

[2019-10-17 00:04] #84 closed

[2019-10-17 00:40] #99 closed

[2019-10-17 17:43] #91 closed

[2019-10-24 22:22] syrusakbary commented on #17
The fs feature is now in `master`. Closing the issue

[2019-10-24 22:22] #17 closed

[2019-10-24 22:24] syrusakbary commented on #107
This is now fixed in `master`. Closing the issue

[2019-10-24 22:24] #107 closed

[2019-10-25 10:08] corwin-of-amber opened #134 "wasmfs: Cannot read property 'inherits' of undefined"
This error occurs when running `require('@wasmer/wasmfs')` in Node (tested on v12.11.0 and v8.9.1), and in the browser with Browserify.

What is the proper way to import it?

[2019-10-25 13:05] corwin-of-amber commented on #134
Note: error seems to go away if I `npm uninstall parcel`. Notice that `parcel` (indirectly) uses `util` and `inherits`.

https://github.com/rollup/rollup/issues/2132

[2019-10-25 17:38] torch2424 commented on #134
@corwin-of-amber

Hello! Thank you for catching and reporting this! We just confirmed this, and will have a fix out in a bit 😄

Also, thank you for the supporting documentation so we can fix it! 👍

Thank you!

[2019-10-25 19:15] corwin-of-amber opened #135 "fd_read: is this `+` supposed to be there?"
This line:
https://github.com/wasmerio/wasmer-js/blob/b55bab0130bf7c35bcc7fe6d319202dbc02e5200/packages/wasi/lib/wasi.ts#L725

Occurs in the import `fd_read`. Since it computes a length, does it even make senes to add the offset?

Removing ` + stats.offset` worked better for me.

[2019-10-25 19:40] torch2424 opened #136 "Write some tests to ensure build output is correct"
Due to issues like #134 Would probably be a good idea to have a simple test that our build output is ES5 compatible, and valid output before deployment 😄

[2019-10-25 19:59] torch2424 commented on #135
@syrusakbary Would you have more context on this? Otherwise I can do the investigation 😄

[2019-10-25 20:07] syrusakbary commented on #135
Hi @corwin-of-amber,

Thanks for creating the issue. We recently added support for `fd_seek` ( #131 ) and it required this changes for `fd_read` to work properly.

In the case that is not working for you... can you post here the WASM where it breaks so we can take a look?

PS: we also need to add more testing to test WASI wasm files to make sure everything is working as it should, if you want to h

[2019-10-25 20:14] corwin-of-amber commented on #135
I will, it will take me some time, basically I was compiling this small routine:
[code]

And running it with the example code at https://github.com/wasmerio/wasmer-js/blob/master/examples/node-stubbed/index.js. I added debug prints in stdinRead and noticed that the length is sometimes larger than the size of the stdinBuf.

[2019-10-25 20:22] #134 closed

[2019-10-25 20:52] corwin-of-amber commented on #135
Attaching C, JS, and WASM. The C program was compiled with:
```/opt/wasi-sdk/bin/clang busy.c -o busy-wasi.wasm```

[busy.zip](https://github.com/wasmerio/wasmer-js/files/3773766/busy.zip)

[2019-10-26 20:41] richardanaya opened #140 "[New Feature] Create support for framebuffer device in https://webassembly.sh"
It would be super cool to write out to the framebuffer file and see output on a canvas element on the screen.  People could write 2D visualizations, demoscene work, view files, and maybe if there's keyboard support one day play games in https://webassembly.sh

**How would this work?**

writing bytes to the file `/dev/fb0`

would setImageData on a canvas that covers the whole window

**how would yo

[2019-10-26 20:47] richardanaya opened #141 "[New Feature] Support raw keyboard events in https://webassembly.sh"
We need more low level access to the keyboard in order to create text based games.  Perhaps we can create some kind of file that can be read from to get raw keyboard events (key down and up)?
`/dev/input/rawkb` ?

[2019-10-28 23:25] torch2424 commented on #140
@richardanaya Hello! This is a great idea! It's been something we have been researching, and will update this issue if we end up with any news 😄

[2019-10-29 09:20] FranklinWaller opened #144 "Can't set environment variables in terminal"
Currently, there is no way of setting the environment variables in the terminal. Which causes you to not be able to run commands such as `pwd`.  It would be nice to be able to set environment variables before a command. Maybe by returning inside the fetchCommand? Something like:

[code]

In the documentation there is an option for `fetchCommandFromWAPM` but it's only for that function available. (

[2019-10-29 23:30] TJKoury opened #145 "fd_read results in TypeError"
File writes work in Node (13.01), but reads throw this error:

[code]

The issue looks like it is at [this line](https://github.com/wasmerio/wasmer-js/blob/a218db120322b31a0d1a23067570db97d5df7e84/packages/wasi/lib/wasi.ts#L725) where `BigIntPolyfill` is being used to get the offset for reading from the file descriptor.

Not sure what the root of the problem might be.

[2019-10-30 00:05] TJKoury commented on #135
This is related to my issue #145, removing the offset fixes the issue.

[2019-10-30 02:39] syrusakbary commented on #135
Thanks for the report. We are working on a fix now :)

[2019-10-30 21:09] torch2424 commented on #135
@syrusakbary #146 fixes this correct? 😄 Ccan release a patch for @TJKoury and @corwin-of-amber ? 😄

[2019-10-30 21:10] torch2424 commented on #145
As your comment stated is this related to #135 ? Can we close this in favor of #135 ? 😄

[2019-10-30 21:13] TJKoury commented on #145
Sure.  The root of the issue is using a bigNum with a Number, but the fix should remove that as an issue.

[2019-10-30 21:18] torch2424 commented on #144
Hello @FranklinWaller !

Thank you for the issue!

I'm glad you brought this up. We made it so you can pass Enviornment variables to [`@wasmer/wasi`](https://github.com/wasmerio/wasmer-js/tree/master/packages/wasi#quick-start), but we hadn't considered it for the shell, because we thought of it is an all-in-one.

Perhaps it would be good to add a new "hook", such as "fetchEnvironmentVariables", th

[2019-10-30 21:19] torch2424 commented on #145
Awesome, thank you @TJKoury 😄 !

[2019-10-30 21:19] #145 closed

[2019-10-30 21:31] syrusakbary commented on #135
@torch2424 that's right... this should be fixed by #146.

Let's release the next version soon (after we add the CLI): 0.4.0

[2019-10-30 21:52] torch2424 commented on #135
@syrusakbary Sounds good! Also, it may be good to take a look at #146 , since @corwin-of-amber made a comment we may want to address before releasing 😄

[2019-10-31 00:57] syrusakbary commented on #135
Cool, this should be now fixed in `0.4.0`. Closing the issue.
If you have further issues with this, please let us know and reopen the issue! :)

[2019-10-31 00:57] #135 closed

[2019-11-01 17:11] corwin-of-amber opened #152 "wasm-transformer: output is invalid"
Running the attached WASM binary through lowerI64Imports resulted in an invalid file. Wasmtime, wasm2wat, wasmer, wasmer-js all report that it is corrupted. Trying to `WebAssembly.instantiate()` the result gives `unknown section code #0x75 @+530`.

I was using the most recent version from master at the time of this post. This is the code snippet based on @wasmer/cli.

[code]

[busy.zip](https://gi

[2019-11-01 17:58] corwin-of-amber commented on #152
I forgot to mention that `busy.wasm` was compiled using wasi-sdk-7.

[2019-11-01 20:32] torch2424 commented on #152
Ah, yeah so they are some, WASI modules that still give us trouble that we've been working through. The transformations are done in a way that makes debugging a bit difficult since we don't create an actual AST. We will try and debug this once we get the chance 😄

Thank you very much for opening the issue, it helps us to get as many modules as we can. Also, is the source code for the Wasm module t

[2019-11-01 20:38] corwin-of-amber commented on #152
Hi, no, that one did not call any APIs with i64 in their type. This program is calling `opendir`.
It works with `fopen`, just not `opendir` 😕

[busy.c.txt](https://github.com/wasmerio/wasmer-js/files/3799558/busy.c.txt)

[2019-11-02 12:00] corwin-of-amber commented on #152
I was able to circumvent the error for now using this plug:
[code]

That's not a solution of course, but it least it shows that the problem lies with the `$__wasi_fd_readdir` import.

[2019-11-02 15:58] TJKoury opened #153 "@wasmer/wasmfs on npm is missing dist"
It is also missing the rollup.config.js, so it cannot be built.

[2019-11-03 12:47] #153 closed

[2019-11-03 12:47] TJKoury commented on #153
I was using an older version that was cached.

[2019-11-04 18:37] TJKoury opened #154 "Does not work with rollup"
My experience as been the following:

Using rollup on ./lib/index.cjs.js (using [rollup-plugin-commonjs](https://github.com/rollup/rollup-plugin-commonjs)) or on ./lib/index.esm.js (adding "type":"module" to the package.json) results in a bundle that cannot detect running in the Node environment.

Errors are thrown concerning browser APIs such as `ReferenceError: performance is not defined`, and e

[2019-11-04 20:59] torch2424 commented on #152
@corwin-of-amber

Huh? That is quite odd. I'll take a look once I get the chance 😄 Also, thanks for providing the source code example!

Oh that's even more odd, I wonder what that import is doing? This helps us isolate a test case by a ton thoough! Thank you! 😄

[2019-11-04 21:03] torch2424 commented on #154
Hello! Thanks for filing the issue! 😄

So if you don't mind, can you answer a few questions?

1. What package are you trying to use? Packages like the `wasm-terminal` only support the browser because they use the DOM.
2. What are you trying to build using wasmer-js? Just run a simple one off WASI module?
3. Is the source code of what you are trying to do publicly available? If not, can you give us

[2019-11-04 22:35] TJKoury commented on #154
@torch2424 Sorry, I should have specified, it’s the    ‘wasi’ package.  I’ll post the code shortly.

[2019-11-04 23:52] torch2424 commented on #154
@TJKoury No worries at all! 😄

And feel free to mention me once the code is posted up. Also, if you can posted your rollup config as well 😄

We recently added end to end tests (or whatever may be the right word for them), where we re-bundle the output of the packages with rollup: https://github.com/wasmerio/wasmer-js/blob/master/e2e-tests/test/wasi.js So there may be a case that we are missing 😄

[2019-11-05 13:53] TheAncientGoat opened #155 "Import is undefined with default create-react-app setup"
Using a `create-react-app` bootstrapped application, when trying to import the module as shown in the docs, the `WASI` object is undefined.

[code]

Full sample code here: (see App.js)
https://repl.it/repls/NeglectedIrritatingNumerators

Not sure if it's a webpack issue, or babel issue, but as create-react-app is a pretty standard setup, it would be good to check that it is supported.

I have also

[2019-11-05 19:00] syrusakbary commented on #155
Hi @TheAncientGoat,

We are working on a fix. In order to know if what we have in mind will fix it, can you try the following and comment here if it worked?

[code]

[2019-11-05 19:01] syrusakbary commented on #154
We are working on a fix. In order to know if what we have in mind will fix it, can you try the following and comment here if it worked?

[code]

Thanks!

[2019-11-05 19:23] syrusakbary commented on #152
Investigating this now

[2019-11-05 20:09] torch2424 commented on #154
@syrusakbary As discussed offline, this was an issue that is now solved by #156 , I think @TJKoury is experiencing a different issue

[2019-11-05 20:15] #155 closed

[2019-11-05 20:21] torch2424 commented on #155
Fixed in Verion `0.4.6`.

Thank you very much for finding and filing the issue @TheAncientGoat ! 😄

[2019-11-05 20:50] #152 closed

[2019-11-05 20:57] torch2424 commented on #152
This is now fixed in `0.4.7`.

Thank you @syrusakbary for finding this bug! 😄 🎉

Thank you @corwin-of-amber for filing the issue, and being patient for the fix! 😄 👍

[2019-11-05 22:55] TJKoury commented on #154
@syrusakbary I get the error:

`Cannot find module ./node_modules/@wasmer/wasi/lib`

[2019-11-06 01:03] TheAncientGoat commented on #155
Tested and it works, thanks for the fast fix everyone :)

[2019-11-06 19:07] torch2424 commented on #154
@TJKoury Ah yeah, so that issue was fixed, but I don't think it's related to your issue.

But it is odd that you get: `Cannot find module ./node_modules/@wasmer/wasi/lib`. What about `./node_modules/@wasmer/wasi/lib/index.js`? **NOTE:** I'm just bikeshedding here, as this may mean you don't have the wasi package installed haha!

Either way, whenever you have an available source code, or an example

[2019-11-06 19:24] TJKoury commented on #154
@torch2424 I have it installed, but node isn't going to resolve a .js file when running with --experimental-modules and no "type":"module" in the nearest package.json.  I should have made that clear.

I'll post next when the code is up.

[2019-11-06 19:56] TJKoury commented on #154
@torch2424 See [here](https://github.com/DigitalArsenal/openssl.js).

Relevant sections in [rollup.config](https://github.com/DigitalArsenal/openssl.js/blob/master/scripts/rollup.config.js) having to swap out imports based on browser / node.

[2019-11-08 14:00] corwin-of-amber commented on #154
I had a similar experience and I resolved it locally by adding `@wasmer/*` to `external` on my cjs target, something like
[code]

It means that wasmer does not end up in your bundle though. It will be loaded via `require`.

[2019-11-08 14:23] TJKoury commented on #154
@corwin-of-amber True, but the goal is to not have it external, especially because the browser will not use Node’s require algorithm to find it server side.

[2019-11-08 15:36] corwin-of-amber commented on #154
Completely agree. I had to make separate browser (iife) and Node (cjs) bundles.

[2019-11-08 16:07] corwin-of-amber opened #158 "wasmfs: ENOTDIR error escapes to top"
If my C program is doing this:
[code]

Where `/home/a` is a regular file, an error is thrown, terminating the program:
[code]

`@wasmer/wasi` correctly handles `ENOENT` errors by returning `NULL` to the caller, but not `ENOTDIR`.

[2019-11-08 22:50] syrusakbary commented on #158
That looks like a bug!
@corwin-of-amber would you like to help on a fix with a PR? :)

[2019-11-13 19:03] syrusakbary opened #160 "Stdin working funny"
Stdin in the terminal is working in a funky/hacky way.
We should solve this.

This things should work with any browser:
* `cowsay hello | lolcat | lolcat` (it only works in FF now)
* `qjs | lolcat`

[2019-11-13 22:55] torch2424 commented on #154
@TJKoury My apologies! Was at Chrome Dev Summit, and hadn't been checking on github issues since most of my time was spent talking to other Wasm people!

Thanks for sharing your solution @corwin-of-amber , and I do agree this should be easier to use when trying to do multiple platforms.

Okay, so the reason why you have to do this weird switching for the browser and node, is because, the browser (

[2019-11-13 22:57] torch2424 commented on #158
@corwin-of-amber My apologies, just got back from Chrome Dev Summit. Did you still have an issue with this? I can try and help with a solution, and as @syrusakbary suggested, if you have the bandwidth and want to contribute that would be more than welcome!

We can totally fix this on our end as well, just let us know 😄

[2019-11-14 14:04] TJKoury commented on #154
@torch2424 Thanks for the reply!  You can see my solution (which is basically your suggested solution) here:  [OpenSSL.js](https://github.com/DigitalArsenal/openssl.js).

[2019-11-14 22:08] torch2424 commented on #154
@TJKoury Oh nice! Glad you got it figured out! 😄

So is this issue still a problem? Or is there an action item here? Perhaps we should document this better? 😄

Also, it is alright if we share OpenSSL.js ? Would be awesome to highlight the project! 👍

[2019-11-14 22:16] TJKoury commented on #154
@torch2424 Yes, please do share it!  We are looking to collaborate on it with the community.

The issue is the browser not being detected properly, but I haven’t had time to dig though the code (I think it’s an order of operation bug).

[2019-11-15 20:22] corwin-of-amber commented on #158
I haven't checked with changes from last week. I will take a look and try to fix it, I saw the point where WASI is checking for ENOENT so I think the check for ENOTDIR should go there as well.

[2019-11-15 21:58] torch2424 commented on #154
@TJKoury

Awesome! Tweeted by [myself](https://twitter.com/torch2424/status/1195460301954568192), and retweeted by the Wasmer Twitter 😄

Ah, thanks for clarifying. And this is on our end correct? Like our bundle output isn't being handled correctly still by rollup outputting for the browser? If so, I'll go ahead and try and do a rollup from scratch as well 👍

Thanks! 😄

[2019-11-16 16:10] corwin-of-amber commented on #158
Seems like this has been fixed! Sorry for not pitching in earlier.

[2019-11-18 18:20] torch2424 commented on #158
@corwin-of-amber No worries! Thanks for confirming it has been fixed 😄 Closing...

[2019-11-18 18:20] #158 closed

[2019-11-19 00:15] torch2424 commented on #160
So `cowsay hello | lolcat | lolcat` works for me? I re-cloned the project, `npm install`, `npm run dev` and it worked?

<img width="752" alt="Screen Shot 2019-11-18 at 4 15 24 PM" src="https://user-images.githubusercontent.com/1448289/69104903-ae6e9200-0a1e-11ea-9f7a-8ce21279c405.png">
<img width="966" alt="Screen Shot 2019-11-18 at 4 15 15 PM" src="https://user-images.githubusercontent.com/144828

[2019-11-19 00:17] torch2424 commented on #160
And `qjs | lolcat` works too? (When using a web worker)

<img width="721" alt="Screen Shot 2019-11-18 at 4 16 44 PM" src="https://user-images.githubusercontent.com/1448289/69104981-e5dd3e80-0a1e-11ea-9b78-aa65a750bcdd.png">

[2019-11-21 01:32] #160 closed

[2019-12-05 09:49] mischnic opened #164 "fd_readdir not behaving according to the specification"
I think the fs_readdir implementation is wrong:

### Current Behaviour

According to
https://github.com/WebAssembly/WASI/blob/1d1358a/phases/old/snapshot_0/docs/wasi_unstable.md#fd_readdir:

But `@wasmer/wasi` sets `bufused` to a smaller value although there are still files in the directory that weren't enumerated:
https://github.com/wasmerio/wasmer-js/blob/4cd68ac620d51cb220d7d59d58a2b5f964a24344

[2019-12-05 22:55] mischnic opened #165 "fd_write not respecting offset from fd_seek"
The `fd_write` implementation doesn't seem to respect an offset previously set by fseek, instead it always writes to the end.

#### Reproduction

[code]
(with https://github.com/CraneStation/wasi-sdk/releases/tag/wasi-sdk-8)

[code]

[2019-12-06 01:08] torch2424 commented on #164
@mischnic Thank you soooo much for such a detailed issue!

cc @syrusakbary as they have been doing a lot of the Wasi polyfill work here.

If they don't get the chance to get to it, I'll try to when I get the chance! 😄

[2019-12-06 01:08] torch2424 commented on #165
@mischnic Thank you soooo much for such a detailed issue with a repro case!

cc @syrusakbary as they have been doing a lot of the Wasi polyfill work here.

If they don't get the chance to get to it, I'll try to when I get the chance! 😄

[2019-12-07 02:05] #164 closed

[2019-12-07 02:37] #165 closed

[2019-12-07 02:37] syrusakbary commented on #165
Hi @mischnic both issues should now be fixed on master.

[2019-12-09 13:30] robinvanemden opened #168 "Support for wasi_snapshot_preview1 and future import namespaces"
Wasmer-JS currently only supports the older `wasi_unstable` export namespace.

Use of the newer `wasi_snapshot_preview1` export namespace gives to the following error:

[code]

[2019-12-09 13:48] robinvanemden commented on #168
Never mind! It is of course quite possible to just set:

[code]

Though this leaves, for instance, fuzzy matching to the JS developer.

[2019-12-09 13:48] #168 closed

[2019-12-10 00:28] syrusakbary commented on #164
We just published a new version of wasmer-js `0.5.1` that should have this issue fixed.

[2019-12-10 00:28] syrusakbary commented on #165
We just published a new version of wasmer-js `0.5.1` that should have this issue fixed.

[2019-12-10 18:53] mischnic opened #170 "cli flag handling is unintuitive"
1. An unhelpful error message (because the number of args isn't checked with `strict = false`):
[code]

2. 🤷‍♂
[code]
is interpreted as `wasmer-js run --dir=/ --dir=test.wasi`

[2019-12-11 05:54] syrusakbary commented on #170
Agreed, that's very bad parsing.

I suspect is caused by the package [`@oclif/command`](https://www.npmjs.com/package/@oclif/command).

[2019-12-11 05:54] syrusakbary commented on #170
Perhaps we should change library for parsing the CLI args

[2019-12-22 20:44] vshymanskyy commented on #170
Point 2 makes it unusable for me, when it comes to working with files.

[2019-12-24 13:05] mischnic commented on #170
@vshymanskyy

If you didn't figure this out yet, this does work: `wasmer-js run test.wasi --dir=/`

[2019-12-24 13:28] vshymanskyy commented on #170
@mischnic thanks! It wasn't critical in my case, but thanks for providing a helpful hint here! ;)

[2020-01-07 16:11] mundusnine opened #173 "Information sparcity"
So this project really needs a wiki. I could share the info I have gathered as of now and project maintainers could share when they have time.

The info that I found in this pr is a good example:

Actually, both WASI and Emscripten will use the same filesystem.
What you think on renaming it to `WasmerFileSystem` ?

_Originally posted by @syrusakbary in https://github.com/wasmerio/wasmer-js/pull/5_

[2020-01-07 19:43] torch2424 commented on #173
Hello!

Thank you for bringing this up!

We recently launched an official [documentation resource across the wasmer js stack](https://docs.wasmer.io/wasmer-js/wasmer-js).

And related to that specific comment, We haven't really highlighted that feature yet, as it's not quite working yet if I am not mistaken. Currently, only the WASI ABI works, and the Emscripten ABI would be coming later (if that

[2020-01-08 22:44] mundusnine commented on #173
Hi,

Basically, if I have a wasm compiled with emscripten, will it share the filesystem with  wasmFs ?

Because right now compilling with wasienv is, well, less documented then emscripten and I am literally trying to compile a compiler to wasm and the compiler(haxe compiler) uses other c libs and its unclear how to add those with wasienv compared to emscripten.

Good day and thank you,

[2020-01-08 22:47] mischnic opened #175 "fd_write is not updating offset set by fd_seek, causing overwriting"
(After https://github.com/wasmerio/wasmer-js/issues/165 was fixed, I had an even more obsure problem: parts of my output file were just missing instead of written to the wrong offset...)

`fd_write` is somehow not updating the offset correctly, causing previous output to be overwritten. I have added logs to the `fd_write` function, this is the trace for the code below:

[code]

## Reproduction

[c

[2020-01-08 22:50] torch2424 commented on #173
Hello!

So both should use WasmFs when used in the Wasm Terminal, or [WebAssembly.sh](https://webassembly.sh/).

And woah! That sounds like a really cool / fun project! 😄 Excited to see it!

No matter what tool you use to compile your Wasm modules, they should have access to their FileSystem if they have the correct WASI bindings, which in turn means they can use WasmFs. @syrusakbary please correc

[2020-01-08 22:52] torch2424 commented on #175
cc @syrusakbary as he has been doing most of the WASI polyfill fixes.

Thanks! 😄

[2020-01-09 10:23] mischnic commented on #175
I'm not 100% sure if this is correct, but this fixes my problem:
[code]

[2020-01-09 15:35] corwin-of-amber opened #176 "wasm-transformer: crash in generate_trampolines_and_signatures"
I have compiled GNU `cat` and obtained the attached WASM binary.

Running it through the transformer produces the following crash:
[code]

Here is a small JS main that just runs the transformer the way I do in my code.
[code]

[cat.wasm.zip](https://github.com/wasmerio/wasmer-js/files/4041119/cat.wasm.zip)

[2020-01-09 19:27] torch2424 commented on #176
@corwin-of-amber Hello again! 😄

Thank for the issue! If I . could ask just real quick, what toolchain was this compiled with? Emscripten, wasienv, rust, assemblyscript, etc... ?

Thanks! 😄

[2020-01-09 19:28] torch2424 commented on #175
@mischnic Oh wow! Thank you for this! 😄 🎉 And glad you got it fixed!

I'll let @syrusakbary take a look, if he doesn't respond tomorrow, I'll go ahead and open a PR with this 😄

Thanks!

[2020-01-10 16:12] corwin-of-amber commented on #176
Ah sorry for the delay. I compiled it with wasi-sdk 8.
I since recompiled it and consequently it worked... I think I fixed some missing definitions in a header file (`getpagesize`), perhaps that was the reason...

[2020-01-10 19:42] torch2424 commented on #176
Ah glad you got it figured out! Yeah maybe the output of the wasm module without the correct headers led to an invalid module? 🤔

But, you okay if we close this issue @corwin-of-amber ? 😄

[2020-01-10 19:44] corwin-of-amber commented on #176
Well the faulty wasm that I attached still fails the transformer, so you might want to look into this even so... although ATM I was unable to reproduce how it was generated. Yes, possibly it was just corrupted for a thousand different reason. It's fine by me to close this then.

[2020-01-10 21:08] #175 closed

[2020-01-10 21:42] mischnic opened #178 "Actually implement fd_tell"
https://github.com/CraneStation/wasi-libc doesn't use the wasi `fd_tell` binding in `ftell`, but somehow `gzopen` needs it:

[code]

[code]

Currently, there is only a stub with "TODO missing binding". But can't we just use `stats.offset` now that is being updated by `fd_write` and `fd_read` (maybe offset could now be made a non-optional property)?
[code]

[2020-01-11 22:10] syrusakbary commented on #178
Yeah! That can be a great solution. We would love a PR for that :)

[2020-01-13 12:10] #178 closed

[2020-01-15 15:48] corwin-of-amber opened #182 "Suggestion: try latest memfs"
Greetings @torch2424 @syrusakbary,

I pushed the fix by Syrus regarding `open(..., O_DIRECTORY)` to memfs's upstream repo (https://github.com/streamich/memfs/pull/495) and it's now published as `memfs@3.0.4`.
I tried upgrading and it works smoothly, of course my testing is pretty superficial so perhaps you want to try it yourself.

If it works, the dependency on the fork (https://github.com/torch2

[2020-01-15 17:54] syrusakbary commented on #182
Thanks for the ping @corwin-of-amber!

[2020-01-17 00:30] torch2424 commented on #176
@corwin-of-amber Ah good point. Let's keep this issue open then 😄 If/When I get the time to investigate this I will (Hopefully soon now that we are launching the latest feature). So yeah! Thanks again! 👍 🎉

[2020-01-17 00:31] torch2424 commented on #182
@corwin-of-amber Again, cannot express how cool that is that you contributed this upstream, and gave us a shout out for it! 😄

Yes, I'll pin this issue in an open tab so I wont forget, and try to update this after our next launch tommorrow. Thanks again! 😄

[2020-01-22 18:48] torch2424 commented on #141
@richardanaya

This is now available using the Experimental I/O Devices 😄 https://medium.com/wasmer/wasmer-io-devices-announcement-6f2a6fe23081

[2020-01-22 18:48] #141 closed

[2020-01-22 18:49] torch2424 commented on #140
@richardanaya

This is now available using the Experimental I/O Devices 😄 https://medium.com/wasmer/wasmer-io-devices-announcement-6f2a6fe23081

[2020-01-22 18:49] #140 closed

[2020-01-22 18:51] torch2424 commented on #93
This was done a while ago, as we moved wasm-transformer into it's own package, that just uses the web output, replacing the `import.meta`

[2020-01-22 18:51] #93 closed

[2020-01-22 18:52] torch2424 commented on #53
This is done in the [Wasmer Docs](https://docs.wasmer.io/introduction.html) 😄

[2020-01-22 18:52] #53 closed

[2020-01-22 18:52] torch2424 commented on #52
This is done in the [Wasmer Docs](https://docs.wasmer.io/introduction.html) 😄

[2020-01-22 18:52] #52 closed

[2020-01-22 18:52] torch2424 commented on #40
This is done in the [Wasmer Docs](https://docs.wasmer.io/introduction.html) 😄

[2020-01-22 18:52] #40 closed

[2020-01-22 18:52] torch2424 commented on #37
This is done in the [Wasmer Docs](https://docs.wasmer.io/introduction.html) 😄

[2020-01-22 18:52] #37 closed

[2020-01-22 18:53] torch2424 commented on #16
This is done in our https://github.com/wasmerio/wasmer-js/tree/master/e2e-tests directory 😄

[2020-01-22 18:53] #16 closed

[2020-01-22 21:49] richardanaya commented on #140
You rock!

On Wed, Jan 22, 2020 at 10:49 AM Aaron Turner <notifications@github.com>
wrote:

[2020-01-22 23:41] torch2424 opened #185 "wasm-terminal: Fix multi-character font support (ligatures)"
This merges these issues:

https://github.com/wasmerio/webassembly.sh/issues/62

https://github.com/wasmerio/webassembly.sh/issues/49

With the general response:

So I went ahead and asked if we'd get browser support in: https://github.com/xtermjs/xterm.js/issues/958 , and can investigate other solutions later on 😄

[2020-01-23 02:52] #182 closed

[2020-01-28 00:59] torch2424 commented on #144
@syrusakbary So I have been thinking about how to implement this. Looking at:

https://github.com/wasmerio/wasmer-js/blob/master/packages/wasm-terminal/src/command-runner/command-runner.ts#L482

I think it makes sense if we do what @FranklinWaller suggests. And provide a new return type for fetchCommand:

[code]

Which allows us to keep our current return type, but also allows returning custom env

[2020-01-28 01:59] torch2424 commented on #170
@syrusakbary Looked into this, and this is totally a bug on oclif, see here: https://github.com/oclif/oclif/issues/190

I've personally always used [minimist](https://www.npmjs.com/package/minimist). It's a little more barebones, but it does the expected behavior in our case so yeah? 😄 👍

[2020-01-29 02:04] #170 closed

[2020-01-29 22:47] #31 closed

[2020-02-25 16:50] mbwhite opened #190 "TypeError when running 'hello world' example"
Running the node.js HelloWorld example from https://docs.wasmer.io/integrations/js/wasi/server/examples/hello-world

Gives the following error.
[code]

This is on both the latest Node 12 and Node 14 runtime.s

[2020-02-25 18:53] syrusakbary commented on #190
Hi @mbwhite, I just updated the examples hopefully fixing the issue.

This is the line that fixes it:

[code]

Let me know if everything runs ok now :)

[2020-02-26 00:31] #190 closed

[2020-02-26 16:11] mbwhite commented on #190
@syrusakbary thanks.. can confirm it does work no problems.

[2020-02-29 02:39] syrusakbary commented on #176
We just refactored the wasm-transformer in #191 .

Now it works for all the edge cases (including transforming clang! 🎉)
We also published a new version of wasmer-js: `0.9.0` that is published in npm, so you should be able to use it easily in your project! :)

Closing the issue!
Please reopen if the issue persists @corwin-of-amber

[2020-02-29 02:39] #176 closed

[2020-02-29 12:16] corwin-of-amber commented on #176
Awesome! To date this cat.wasm was the only one exhibiting the problem. Did you compile clang to WASM? 😄 That is so meta. Is it also available to experiment with?

[2020-03-02 19:17] torch2424 commented on #176
Great work @syrusakbary ! :smile: :+1:

[2020-03-03 00:32] syrusakbary commented on #176
@corwin-of-amber here we go!
https://github.com/wapm-packages/clang

[2020-03-03 19:51] syrusakbary commented on #176
And... the tweet with a demo video!

https://twitter.com/wasmerio/status/1234903250249273344

[2020-03-05 00:19] richardanaya opened #193 "Simple command that works on wasmer cli doesn't work on wasmer-js"
This simple app just asks for input text then does nothing.

https://webassembly.sh/?run-command=wapm%20install%20richard/dice@0.0.1

https://registry-cdn.wapm.io/contents/richard/dice/0.0.1/dice.wasm

tested on wasmer 0.15.0

[2020-03-05 02:47] syrusakbary commented on #193
I just took a look. Wasmer-js doesn't support yet multiple versions of WASI.
However the fix is trivial, so I'll make a quick release :)

[2020-03-05 02:49] richardanaya commented on #193
Thank you!

[2020-03-05 04:54] #193 closed

[2020-03-05 05:01] syrusakbary commented on #193
I just republished [WebAssembly.sh](https://webassembly.sh) with the latest Wasmer-JS (`0.10.0`) with the fix.

Dice should now be working properly! Thanks for opening the issue @richardanaya 🙂

<img width="465" alt="Screen Shot 2020-03-04 at 9 00 34 PM 1" src="https://user-images.githubusercontent.com/188257/75949478-3b691a00-5e5b-11ea-9f8b-8b1442f6d148.png">

[2020-03-05 17:21] richardanaya opened #195 "Idea - wasmer-js could have a method for getting terminal information (or other devices)"
Making more powerful terminal apps for wasmer-js is on my mind. A great first step would be making an easy way to get the column and row width of the current terminal. An easy way for this info could be via environment variables.

Beyond this, I'm very interested also in standardized filesystem structure for getting deeper access to the current terminal. Perhaps by default a preopened directory to

[2020-03-06 10:00] FranklinWaller opened #196 "WasmFs function overwriting does not work on WasmTerminal"
This is probably a known issue because according to the documentation you should use `@wasmer/wasi` for function overwriting but this would force developers to write their own terminal handling.

When writing a function overload on the WasmFs object it will not get called. This is probably because WasmTerminal calls fromJSON and uses that object in a Worker which loses all the connections with the

[2020-03-07 16:03] richardanaya commented on #195
I just created my own wapm command `env` :P

i see that LINES and COLUMNS already exists now!

[2020-03-07 19:58] richardanaya opened #197 "stress test discovers text rendering slowdown issues"
I developed a rather simple app that just prints random colored @ symbols again and again. There appears to be two bugs.

https://webassembly.sh/?run-command=wapm%20install%20richard/noise@0.0.8

https://github.com/richardanaya/wcurses/blob/master/examples/noise/src/lib.rs

* the text render speed is rather slow
* the text render speed gets slower and slower as time goes on

running this with wasm

[2020-03-07 23:06] richardanaya commented on #197
I wonder if this is related to https://github.com/wasmerio/wasmer-js/issues/11

[2020-03-08 00:07] richardanaya commented on #195
This is a proposal I wrote here for wasmer  https://github.com/wasmerio/wasmer/issues/1275

[2020-03-08 16:32] richardanaya opened #198 "framebuffer not working on webassembly.sh"
I have a super simple frame buffer application that works on wasmer but not wasmer-js

[code]

[working.wasm.txt](https://github.com/wasmerio/wasmer-js/files/4303506/working.wasm.txt)

[2020-03-08 16:33] richardanaya commented on #198
I drag working.wasm onto webassembly.sh and type "working"

[2020-03-15 17:42] neelance opened #199 "wasm-transformer: add support for lowering phase 4 proposals"
As far as I can see, nowadays Safari is very slow with adopting modern web features. All other major browsers have support for https://github.com/WebAssembly/nontrapping-float-to-int-conversions and https://github.com/WebAssembly/sign-extension-ops except Safari, including its "technology preview" version.

Unfortunately Safari is the default browser on all iOS devices and alternative browsers are

[2020-03-15 17:44] syrusakbary commented on #199
That's a great idea!

Some of this things seem non-trivial. But we would love to collaborate on it!

[2020-03-15 17:55] neelance commented on #199
I'm not a rust dev (yet), so I can not easily contribute directly. My current focus is on adding support for wasi to Go.

[2020-03-16 19:45] hlolli opened #201 "Add better documentation for browser wasmFs (memFs)"
I've been struggling for two days getting `preopens` working with memFs. I know I'm in a very experimental territory so it's all good. But I still fail to see any example of creating file (via open/fopen/openat) in a browser environment. I keep getting `System error : Capabilities insufficient.` but if there would be just one example of this somewhere available, I could definitely get on track.

S

[2020-03-22 21:46] xuxuewen opened #205 "wasmer-js/examples/wasm-shell/worker.ts:6:47: Cannot resolve dependency '@wasmer/wasm-terminal/workers/process.worker'"
mac os

npm run dev

error:
wasmer-js/examples/wasm-shell/worker.ts:6:47: Cannot resolve dependency '@wasmer/wasm-terminal/workers/process.worker'

[2020-03-23 06:24] frank-dspeed opened #206 "Proposal: let me create and add uwasi bindings"
I have a little project it is an early stage but I decided that wasmer-js is a dependency
- https://github.com/direktspeed/uwasi

i would love to integrate via wasmer-js/packages/wasi/src/bindings/uwasi.ts bindings

The Idea is to expose resources of a remote machine to as wasi. This will Polyfill PWA Caps for Desktop PC's and Remote Servers.

to be more simple it will allow to expose remote fs an

[2020-04-05 10:52] richardanaya opened #207 "Create a method for determining if STDIN, STDOUT, STDERR are TTY"
When we pipe in data into our applications in normal operating systems in libc we normally need like a `isatty()` command to determine this. Maybe we can think of some convention for web assembly?

[2020-05-03 04:30] coolreader18 opened #221 "Update the wasm-transformer package?"
`lowerI64Imports` panics inside of wasmparser code when run in the browser, but the `wasm_transformer_cli` native binary that I built on my machine from the example works fine on the same wasm file. My only guess would be that the npm package is out of date with the latest updates to wasmparser?

[2020-05-07 23:32] coolreader18 commented on #221
Never mind, I think I was just passing an ArrayBuffer instead of a Uint8Array

[2020-05-07 23:32] syrusakbary commented on #221
Cool, closing the issue

[2020-05-07 23:32] #221 closed

[2020-05-07 23:57] ospencer opened #223 "Next wasmer-js release"
There hasn't been a release in a little while. Any chance you could cut a new release soon?

[2020-05-13 21:00] syrusakbary commented on #223
Yes! Thanks for the ping, I'll proceed to publish a new release now

[2020-05-13 21:09] syrusakbary commented on #223
Package published with version `0.11`.
Thanks for your contributions @ospencer

[2020-05-13 21:09] #223 closed

[2020-05-14 04:08] ospencer opened #224 "Debug logging printed in @wasmer/wasi 0.11.0"
Thanks again for publishing a new version!

It seems like there's one small issue. It looks like this bit of code: https://github.com/wasmerio/wasmer-js/blob/master/packages/wasi/src/index.ts#L1481 is uncommented in the latest release.

I couldn't find anywhere public to put a link to it, but in the bundled version of `@wasmer/wasi` from npm, in `/packages/wasi/lib/index.js` that bit of code looks

[2020-05-14 04:11] syrusakbary commented on #224
I just published a fix version `0.11.1`, let me know if that fixes the issue :)

[2020-05-14 04:17] ospencer commented on #224
Hmm. It looks like I'm still getting the same output and that block is still uncommented in `0.11.1`. :/

[2020-05-14 04:25] syrusakbary commented on #224
It seems the build step was being skipped. I just published a patch version fixing it (`0.11.2`).
Let me know if this time things are good :)

[2020-05-14 04:31] ospencer commented on #224
The CI passed! Thanks for resolving this so quickly! 😄

[2020-05-14 04:31] #224 closed

[2020-06-10 16:04] vedantroy opened #225 "TypeError: wasm function signature contains illegal type that does not occur in wasmtime"
I have the following C file, which I compile with the [wasi-sdk](https://github.com/WebAssembly/wasi-sdk), using the command `./bin/clang --sysroot=./share/wasi-sysroot example.c -o example.wasm`

[code]

When run on wasmtime with the command `wasmtime --dir=./sample example.wasm`, the program runs somewhat correctly (it creates/writes the file if the directory `sample` exists in the same director

[2020-06-10 21:08] rnewman opened #226 "wasmer-js suggests `validate` as a subcommand"
[code]

[code]

See also doc bug report here: https://github.com/wasmerio/docs.wasmer.io/issues/56

[2020-06-10 21:26] #225 closed, assigned to nobody

[2020-06-11 05:46] vedantroy opened #228 "How to use wasmer-js in the browser?"
I'm trying to create a bundle for running wasmer-js in the browser. However, I keep on running into issues. Specifically, the browser bindings seem to import a buffer/crypto polyfill. However, this buffer polyfill is not installed as a dependency, so my script crashes in the browser.

How do we build a Javascript file that uses wasmer-js, with the necessary dependencies attached, that will run in

[2020-06-16 21:24] syrusakbary commented on #228
It seems there is an issue in the rollup bundler. Crypto and buffer should be automatically added by rollup to the bundle, but they aren't.

[2020-06-16 22:19] mischnic commented on #228
You might need https://github.com/calvinmetcalf/rollup-plugin-node-builtins

[2020-06-21 10:08] MaxDesiatov opened #229 "Neither CHANGELOG.md nor release notes are present"
I'm currently using `@wasmer/wasi` 0.10 package and was thinking of upgrading to 0.11, but wasn't sure if the new release contained any breaking changes. I also wasn't able to find any changelog or release notes that clarify that. Would you mind adding those, so that it is more clear whether upgrading to the latest version makes sense for a given project?

Thanks.

[2020-07-01 15:08] RReverser opened #230 "fd_renumber implementation is wrong"
While working on my WASI implementation, I was reading `fd_renumber` docs:

I've noticed that Wasmer JS implementation does the following:

https://github.com/wasmerio/wasmer-js/blob/4e660caedba56e50db0da9238a789ab0e2f989be/packages/wasi/src/index.ts#L930-L933

That is, it renumbers `to` to `from`, which goes against the naming as well as, upon close reading, against the description in docs.

Then

[2020-07-02 04:54] syrusakbary commented on #229
Sure thing! We'll try to do it for next release

[2020-07-22 01:31] taybenlor opened #236 "wasm-terminal: `w.resolve is not a function` error introduced from v0.11.0"
I've been messing around with running the `python` WAPM package using `wasm-terminal` in a similar way to how `WebAssembly.sh` works. I kept getting plagued with `w.resolve is not a function` from the process worker (once it's been blobified) on running. Eventually I fixed this by downgrading to `v0.10.0` after noticing that `WebAssembly.sh` uses `v0.10.0` and everything just worked!

I'm having a

[2020-07-22 01:44] taybenlor commented on #236
If you have suggestions for how I could help with this I would love to hear them. Happy to contribute, but would need guidance as I'm not particularly familiar with Web Assembly or the wasmer tools.

[2020-07-22 01:45] syrusakbary commented on #236
Thanks for opening the issue! We will investigate shortly

[2020-07-22 14:59] corwin-of-amber opened #237 "wasi-sdk compatibility?"
Cheers,

I assume every release of @wasmer/wasi is tied to a specific version of WASI. It would be a good idea to document which version that is. I was debugging an issue with upgrading to 0.11.2 and found out that I was using wasi-sdk-8, which is outdated. I am going to try 11, but IMHO it should be made explicit which version the user should compile their WASMs with.

[2020-07-24 12:43] corwin-of-amber opened #238 "Cannot create file with `path_open`"
Opening a file with a write flag should normally create the file if it does not exist, as long as the directory exists and has write permissions.

1d0eedbc9110497c885f44f26c005c92b5673729 introduced a change that stats the file before opening, causing it to throw if the file does not exist.

[code]

I believe the `isDirectory()` condition should only be checked if `write` is false. I am assuming `

[2020-08-04 16:36] ChristianWeyer commented on #228
Did you solve this in the meantime @vedantroy ?

[2020-08-17 06:27] ernoaapa opened #241 "Compatibility issues with Node 14.4.0 and Typescript"
Hi,
I'm interested in using the `@wasmer/wasi` library in the Typescript project, but I have challenges with it. Anyone using the `@wasmer` libraries in a Typescript project?

It can be that there's just something wrong with my setup (I'm not expert in this), or there are some changes needed in this library, I'm not sure, but would really appreciate the help.

### Example project
`package.json`
[c

[2020-08-17 13:03] corwin-of-amber commented on #241
Hi, I'm not so sure what `node --loader` is actually doing. Wasmer-JS itself is written in TypeScript and I have several TypeScript projects using it (e.g. https://github.com/corwin-of-amber/wasi-kernel). My build setup is to compile the `.ts` files -- I am currently using Parcel, but just invoking `tsc` should also work.

E.g.:
[code]

[code]

[2020-08-27 11:07] dunnock commented on #241
Had same compilation issue. I managed it to compile with typescript with following rollup config:
[code]
with pretty much standard tsconfig.

Though as rollup is trying to embed `index.js` instead of bundled version it does not work as they try to execute following code which is on top of `index.js`:
[code]
It seems currently exported `wasi/lib/index.js` either does not make sense or it should be

[2020-08-28 12:59] dunnock commented on #241
Managed to fix the issue, so the reason is `tsc` emits in `commonjs` format with `exports.default` which is not recognized by `@rollup/commonjs-plugin` with rollup version 2. Here is workaround which works in browser:
[code]

it works with following config:
[code]

[2020-09-04 15:44] syrusakbary commented on #238
The fix sounds good @corwin-of-amber !

[2020-09-04 22:08] #238 closed

[2020-09-27 14:44] RReverser commented on #230
Ping @syrusakbary in case this one got missed as well.

[2020-11-10 19:34] nepx opened #249 "Synchronous initialization"
Hi,

I'm interested in running the whole WASI interface synchronously, from process instantiation to termination, without the use of `async`/`await`. Is there any way to do this?

Thanks!

[2021-01-07 14:03] happybeing commented on #154
I have what looks like a similar issue using rollup from the standard Svelte template.

All I do is add this line to `src/App.svelte`:
```import browserBindings from '@wasmer/wasi/lib/bindings/browser'```

Loading the app immediately causes the following error during the application `init()` in `src/main.js`
[code]

Steps to reproduce:
[code]

I've looked through the topic and realise there may be

[2021-01-08 17:11] happybeing opened #250 "A web app using WASI in JS, and calling Rust which shares the same Wasmer-fs"
This is a question, is it possible for me to build a web app which uses `@wasmer/wasi` in a way that both JS modules and Rust share the same `@wasmer/wasmfs`?

I've built a test app in Svelte based on the examples which successfully uses `@wasmer/wasmfs` in the JS, and I'm trying to add some Rust to test access to the WASI filesystem, but am not sure how to do this.

If I compile a Rust library wi

[2021-01-08 17:35] corwin-of-amber commented on #250
Hi @happybeing, you can most definitely use the same WasmFs instance for both WA and JS, although I have never tried to used Rust (only C). In the `WASI` constructor, pass the option `bindings.fs` like so:
[code]

The `preopens` make certain directories accessible by the WASI instance. You do have to link your Rust library into a WASM binary, I expect the result to be a `.wasm` file; looks like yo

[2021-01-08 18:18] happybeing commented on #250
Thanks very much. Since posting I made some progress, I can:

- write and read files in JS to `wasmFs.fs`
- call the helloworld.wasm from the wasmerio docs and read it's output from stdout
- call the Rust HQ9+ example from the same program, and it works if I pass the control string as a parameter ("-e 'HQ9+'") and I can read its output back from stdout!

That suggests my Rust program has access to

[2021-01-08 19:55] corwin-of-amber commented on #250
Try opening the files in Rust using an absolute path; I found the notion of "cwd" in wasmer-js to not always be coherent. I've been able to work around that by `preopens: {'/': '/', '.': '.'}`, but I still had to adjust my code, esp. provide a custom `path` binding that resolves paths to their correct absolute paths within the wasmFs.

Your wasm binary can export any number of functions to the con

[2021-01-10 18:09] happybeing commented on #250
@corwin-of-amber just coming back to say thanks very much. Knowing this should work helped a lot and after fixing several obscure hurdles I have proven both JS and Rust can access the `@wasmer/wasmfs` filesystem :tada:

For anyone finding this and wanting to see it in action the code is here: https://github.com/happybeing/svelte-wasi-with-rust

I'll be adding a bit more to understand how to pass p

[2021-01-10 20:00] corwin-of-amber commented on #250
I'm happy to hear you managed to use WASI & wasmer-js in this cool way. Cheers.

[2021-01-12 16:13] happybeing commented on #250
Re-opening this because I'm not sure how to take the next steps:

- call a Rust function from JS. My example ([svelte-wasi-with-rust](https://github.com/happybeing/svelte-wasi-with-rust)) has a `main()` which is called by `wasi.start(instance)` but I don't know how to export and call other Rust functions. I tried experimenting with `wasm-bindgen` but didn't get far and am not sure if that's how to

[2021-01-15 15:22] happybeing opened #251 "How to call a Rust function from JavaScript in the browser"
I have a WasmerJS app calling the HQ9+ Rust example: https://github.com/happybeing/svelte-wasi-with-rust

That works, but I can only call the `main()` function in the Rust. I also want to be able to expose other functions but can't find any docs or examples which show how to do this with WasmerJS/WASI. So I have been trying to figure this out myself using `wasm-bindgen`. I'm assuming that since `w

[2021-01-17 16:57] happybeing commented on #251
I have solved the immediate question (the solution was that I needed an empty Rust `main(){}`). You can do stuff in Rust `main()` or call Rust functions but not both, although I've no idea why.

I'm not much further though. Now trying to figure out how to use `wasm-bindgen` to call a JS function with parameters, from Rust. So closing this in favour of:

https://github.com/rustwasm/wasm-bindgen/iss

[2021-01-17 16:57] #251 closed

[2021-01-17 17:00] happybeing commented on #250
Update: I've made some progress but having problems calling functions with parameters using `wasm-bindgen`, see:

https://github.com/rustwasm/wasm-bindgen/issues/2422

[2021-01-19 17:03] happybeing commented on #250
From the (closed) wasm-bindgen issue [#2422](https://github.com/rustwasm/wasm-bindgen/issues/2422):

### Summary

I'm trying to build a browser WASI app using WasmerJS and Rust. I can call parameterless Rust functions from JS and vice versa, but as soon as the Rust imports a JS function which has parameters I have a problem. This is with a WasmerJS/WASI app and the Rust compiled to target `wasm32-

[2021-01-19 17:40] happybeing commented on #250
Thanks for putting me on the right track @corwin-of-amber. I tried your suggestion, which in a way is exactly right, but solving this looks a bit more tricky. First there's a complaint from the Svelte compiler that wasi-example_bg.js "can't resolve test in ./src/wasi-example_bg.wasm", which might be fixable, but a more tricky issue is this error also from the Svelte compiler:
[code]
This seems to

[2021-01-20 13:45] happybeing commented on #250
I've tried to summarise what I think the problem is.

# Summary
I'm compiling Rust with `target=wasm32-wasi` and running `wasm-bindgen` on the `wasm-example.wasm` output.
`wasm-bindgen` generates `wasm-example_bg.js` and `wasm-example_bg.wasm`

### `wasm-example_bg.js`
- imports `wasm-example_bg.wasm` so JS can call bindings for Rust functions exported with `#[wasm_bindgen] / pub fun name() {...}`

[2021-01-20 14:42] MarkMcCaskey commented on #250
@happybeing So in a generalized sense, what we want is for wasm-bindgen to be able resolve imports from third party JS libraries: do you know if it can do this in other cases?

Because the generated JS is responsible for instantiating the Wasm, it needs to resolve all the imports, however it's not resolving the WASI imports, _but_ there's a pretty good reason for that (even if it does work in the

[2021-01-20 16:04] happybeing commented on #250
Thanks for looking at it again @MarkMcCaskey. Actually I think I have at least a hack solution!

If I remove the import of the wasm from `wasm-example_bg.js` (as above) I can call the JS from Rust with a u32 parameter :heavy_check_mark:

Breaking in the app after `wasi.start(instance)` I can see the Rust/WASI exports and call a Rust function from JS with a u32 parameter :heavy_check_mark:

So I'm

[2021-01-20 16:10] MarkMcCaskey commented on #250
Glad to hear you're making progress! One thing to be aware of is that any function marked with `#[wasm_bindgen]` may be mutated arbitrarily as far as I can tell: that means the only correct way to call functions marked with `#[wasm_bindgen]`, in general, is through the generated JS (which was generated in sync with the mutations to the Rust/Wasm function)

[2021-01-20 16:14] happybeing commented on #250
Thanks for the heads up. If need be, I should be able to extract those functions from the `wasm-bindgen` output into a separate file, and modify them to use the implementations on `instance.exports` rather than the imported wasm. It will be a hack, but that's what hackers do huh? :sunglasses:

[2021-01-22 18:57] happybeing commented on #250
I've solved this issue and produced an example which uses `wasm-bindgen` with WasmerJS and Rust/WASI (target wasm32-wasi). See: https://github.com/happybeing/svelte-wasi-with-rust

The result is really impressive. Easy to implement, easy to use and the release build is tiny 200k for the JS bundle and 200k. This compares to for 12MB for Go/Wasm (not using WasmerJS or WASI) because of the Go runtime

[2021-01-22 18:57] #250 closed

[2021-01-22 18:58] happybeing commented on #251
Now fixed, see: https://github.com/wasmerio/wasmer-js/issues/250#issuecomment-765619877

[2021-02-23 12:26] vshymanskyy opened #252 "Consider using performance.now() to improve time API precision"
Currently Date.now() is used, which has very limited precision.
AFAIK, `performance.timing.navigationStart` can be added to `performance.now()` to get the absolute time reference.

[2021-02-23 16:25] syrusakbary commented on #252
That’s a good point! Happy to accept a PR if you would like to contribute!

[2021-02-28 06:31] artlogic opened #253 "Rollup creates broken path binding"
I've been having trouble using these modules with bundlers other than rollup (e,g, webpack). I kept receiving an error about problems with the path module, which is bundled. I've found that using the published ESM I need to do the following to make the bundled path module work:

[code]

Notice that the path object is exposing a default property instead of just an object. I have a feeling this has

[2021-03-28 00:57] ducaale commented on #207
I am currently in the process of porting a CLI tool called [xh](https://github.com/ducaale/xh) to [web assembly](https://github.com/ducaale/xh-playground) so it can be used via wasm-terminal in the browser. This program needs to check TTY to determine whether to pretty-print output and if stdin should be read or not.

I was wondering if special environment variables could be introduced to determin

[2021-03-29 10:22] jrandall commented on #236
I have a similar issue with the `ls` command from WAPM. `ls` works just fine if I downgrade `wasm-terminal` to `0.10.2` but versions `0.11.0` and `0.12.0` both give an error:

0.11.0:
[code]
This is followed by `ls: Unknown Error`

On 0.12.0 the error is essentially the same just with a different minified variable name:
[code]

Those were both on Chrome 89.0.4389.90 on Linux.

On Firefox 87.0 on L

[2021-03-29 18:56] corwin-of-amber commented on #236
@syrusakbary This is definitely a problem with the `path` bindings. I am like 70% sure that I've hit this problem even without wasm-terminal, and it was some problem with Parcel filling in an empty implementation of `path`. Here the bundler seems to be Webpack, so it may be fixed via the Webpack config.

In general: are WAPM packages universal in the sense that they can run on any version of Wasme

[2021-03-30 15:36] Zxilly opened #255 "How to get return code from main() function?"
I'd like to run some different wasm files in the browser. And I want to get the running time of wasm instance. For example, a callback when instance exit?

Node.js add a opetion called returnOnExit at https://github.com/nodejs/node/pull/32101, so did deno at https://github.com/denoland/deno/pull/8605

So i ask for this option for wasmer-js/wasi

I'd like to contribute on this, but i really confuse

[2021-04-02 12:59] #255 closed

[2021-04-12 07:32] ducaale opened #262 "Deprecation warning in Chrome"
Whenever I pipe output from one program to another, I would get this warning:

[code]

Steps to reproduce the issue:
1. Go to https://webassembly.sh/ and type `echo hello | lolcat`.
2. check chrome dev tools and you should see the deprecation warning.

[2021-04-22 07:04] Artoria2e5 opened #263 "Example and wasm-terminal use undocumented API (wasmerFs.volume.fds[1].write)"
When looking for a way to get stdout as it is produced, I stumbled upon the use of `wasmerFs.volume.fds[1].write` in the source code, the purpose of which is pretty self-explanatory from the naming. The unfortunate thing is that the chain is basically undocumented:

* wasmerFs.volume is not yet documented as pointing to a memfs `Volume`. This can be fixed easily on wasmerio docs.
* memfs's `Volume

[2021-06-06 11:29] jrandall opened #271 "Cannot convert null to a BigInt from poll_oneoff"
poll_oneoff is throwing an exception from the line https://github.com/wasmerio/wasmer-js/blob/4c34bb0e584cc24036c3d6d7419550ff9c9ab502/packages/wasi/src/index.ts#L1402
[code]

[code]

The next lines appear to be an attempt to handle that situation by returning WASI_EINVAL if n is null:

[code]

However, it is too late at that point as if the result of `now(clockid)` is null, then BigInt is throwin

[2021-06-06 17:11] jrandall opened #272 "wasmer-js implementation of poll_oneoff for WASI_EVENTTYPE_CLOCK is still using wasi_unstable memory layout"
It appears that the wasmer-js implementation of `poll_oneoff` for `WASI_EVENTTYPE_CLOCK` is still using the old `wasi_unstable` (snapshot_0) memory layout.

In `wasi_unstable` (snapshot_0), the `subscription_clock` struct was 40 bytes and included an 8-byte `identifier` field:
https://github.com/WebAssembly/WASI/blob/main/phases/old/snapshot_0/docs.md#subscription_clock

In `wasi_snapshot_preview1

[2021-06-21 06:33] igrep opened #274 "Put the name of the wasm file as the first value of the result of `args_get`?"
Contrary to [wasmer's implementation](https://github.com/wasmerio/wasmer/blob/99b24a9eb199ecd269a4149c4478d65a09027c8b/lib/wasi/src/state/builder.rs#L12), wasmer-js doesn't have any parameters to set the wasm file's name as the first value of the arguments ([ref](https://github.com/wasmerio/wasmer-js/blob/4c34bb0e584cc24036c3d6d7419550ff9c9ab502/packages/wasi/src/index.ts#L376)), if I read the sou

[2021-07-17 01:49] sfranzyshen commented on #236
any ideas ... work arounds ... tips ... anything?
or are we limited to only using 0.10.0 ...

[2021-07-17 01:53] syrusakbary commented on #236
We are on the way to deprecating this repo in favor of a pure-Rust implementation targeting Node and the browsers via wasm-bindgen.
All APIs should work the same with the same provided API. But that's why you are not seeing that much progress on this repo.

We are already working on the new version, and updates should follow :)

[2021-07-17 04:42] sfranzyshen commented on #205
I was able to work around these type of errors by creating symbolic links within the node_modules folders to accommodate the fact that everything got moved into lib/ folders ...
[code]
it will now find the process.worker.js file ...

[2021-07-17 04:44] sfranzyshen commented on #201
things get changed faster than they get documented around here ...

[2021-07-17 07:06] taybenlor commented on #236
Thanks @syrusakbary! It’d be great to see the browser side of Wasmer get some love. A Rust implementation that works in both Node and Browsers sounds great.

[2021-07-19 19:14] sfranzyshen commented on #236
can you please give any additional information about the plans to "replace" the functionality of this package with something new? I tried to look over the [wasmer/lib/js-api/](https://github.com/wasmerio/wasmer/tree/js-api/lib/js-api) pull request and do not see how I could edit code of something that was built based on this package with the new ... maybe I am missing something ... but it seems to

[2021-07-19 19:20] syrusakbary commented on #236
Thanks for chiming in @sfranzyshen!

@wasmer is not being abandoned, in fact is being revamped! Just with a bit more optimal implementation.
We will preserve the same API that the current wasmer-js has. That means, for using WASI, for example will be done through the same API and package in NPM.

For the filesystem layer, it's likely to no longer be based on memfs (like For @wasmer/wasmfs was), so

[2021-07-19 20:01] sfranzyshen commented on #236
@syrusakbary Thanks for that response ... puts me more at easy to know this will still have a future ...

[2021-10-06 18:42] sfranzyshen commented on #236
https://mnt.io/2021/10/04/i-leave-wasmer/

[2021-10-09 11:14] truboxl opened #282 "coreutils doesn't seem to work"
### Describe the bug
`coreutils` doesn't seem to work, Is this something to do with MEMFS? Does wasmer provide host file system access to wasm?

[code]
[code]

### Steps to reproduce
[code]

### Expected behavior
https://wapm.io/package/coreutils#shell
This leads me to think that wasmer have to use its own shell to show it really works.

### Actual behavior
See "Steps to reproduce"

### Additional

[2021-10-10 11:57] Antony74 opened #280 "ERR_PACKAGE_PATH_NOT_EXPORTED"
I'm afraid I'm getting errors when I `npm run dev` while following the instructions in the README.  I've seen similar when I've tried this on Mac and Windows too, but I'll show you the containerised version.  Am I doing something wrong please, or is this repo somehow broken right now?

[code]

Dockerfile
[code]

Usage:

[code]

[2021-10-10 17:23] mischnic commented on #280
You should be able to solve this specific error by bumping the version of the Babel packages: https://github.com/babel/babel/issues/11615#issuecomment-634208133

[2021-10-12 17:20] Antony74 commented on #280
Thank you very much for the hints everyone.  I now have [a working branch](https://github.com/wasmerio/wasmer-js/compare/master...Antony74:bugfix/startup-failures?expand=1)

As you will see, this consists of:

1. npm install -D @babel/helper-compilation-targets
2. Downgrade parcel by one patch release
3. npm run build

Is there any point in putting in a PR?  Might also be nice to see a banner at t

[2021-10-19 13:33] fritzbauer opened #281 "Path bindings for path-browserify not working"
The code in https://github.com/wasmerio/wasmer-js/blob/master/packages/wasi/src/bindings/browser.ts#L21
`path: path,` gets transpiled to:
 `path: path_browserify_1.default,`
However, there is no export "default" in the path-browserify module. Therefore the path binding will be undefined and the WASI interface will not work correctly.
Manually changing it to "posix"  in the index.js resolves the is

[2021-10-20 19:01] john-sharratt commented on #236
@syrusakbary can you point me to the RUST implementation repo - super interested in how this goes

[2021-10-21 01:57] syrusakbary commented on #236
Closed the issue by mistake.
The Rust implementation lives in the Wasmer repo and uses wasm-bindgen to run in the browser.

You can check the browser/node tests here:
https://github.com/wasmerio/wasmer/blob/master/lib/wasi/tests/js.rs

[2021-10-31 12:55] andersson09 opened #283 "Saving to IndexedDB instead of memfs"
Hello

Is it possible to have a configuration that allows the executing WASI/WASM packages to store to a persistent storage provider such as IndexedDB rather than memfs?

Also my other question is slightly unrelated but can wasm-terminal also run WASM or only WASI packages?

Thanks!

[2021-10-31 15:25] corwin-of-amber commented on #283
Hi! I have recently implemented some logic in my own code (not part of wasmer) that synchronizes a memdb with an IndexedDB.
https://github.com/corwin-of-amber/Web.Author/blob/master/src/net/local.ts

It takes advantage of `fs.watch`. Unfortunately, memfs does not implement recursive watch... so I needed to wrap the memfs Volume with my own SubdirectoryVolume:
https://github.com/corwin-of-amber/Web

[2021-11-02 19:01] corwin-of-amber commented on #236
Thanks @syrusakbary; perhaps you want to update the Language Integrations part of the README (https://github.com/wasmerio/wasmer#-language-integrations) since it still points to the `@wasmer` NPM org as the location of JS support.

[2021-11-02 20:47] andersson09 commented on #283
Thanks will take a look.  When writing to memfs does it individually store each file to the db and remove the file from memfs to clear space or does it just place whatever is inside memfs to indexeddb similarly to emscripten idbfs? My only concern would be how this deals with reading large file streams from db without loading anything to memory.

[2021-11-02 21:00] corwin-of-amber commented on #283
Ah, it's not very smart tbh. It makes a clone of whatever is in the memfs, which it stores in the IndexedDB. Then when you reload the page it reads the entire DB back to memory. Indeed for large files this would be infeasible.

[2021-12-13 06:21] h1romas4 opened #284 "WASI Library support in wasmer-js 1.0"
Hello.

In wasmer-js 0.12.0, I was able to use the WASI module as a library (and get an export) in the following process, is there any plan to support it in the 1.0 series?

https://github.com/h1romas4/libymfm.wasm/blob/v0.9.0/examples/web/src/js/wasi_wasmer.js#L41-L73
[code]

Best regards.

[2021-12-13 21:20] h1romas4 commented on #284
Thank you for your responce.

Yes, I would like to have access to the instance and exports.

In my use case, main(_start) is not the only entry point, there are many export functions generated by wasm-bindgen and extern "C".

Within the exported function, there are calls to the WASI API such as println!(Rust) and fopen(C++), and I want to call these functions from JavaScript in my Web Browser.

Th

[2021-12-14 11:44] #284 closed

[2021-12-14 11:46] syrusakbary commented on #284
This issue should be now solved.
The new version `v1.0.2` is now published into NPM and Deno.

[2021-12-14 11:47] syrusakbary commented on #284
Basically, calling `wasi.instantiate(...)` will return the inner `WebAssembly.Instance`, so you can use it as needed

[2021-12-14 22:29] h1romas4 commented on #284
Thank you for your quick response!
I would like to work on migrating to 1.0.

[2021-12-15 02:53] h1romas4 opened #286 "WASI RuntimeError occurs when loading .wasm with import other than WASI function"
Hello.

In wasmer-js 1.0.2, WASI RuntimeError occurs when loading .wasm with import other than WASI function.
This occurs when there is an `(import "module" "external"`.

test.wasm: [test.wasm.zip](https://github.com/wasmerio/wasmer-js/files/7716087/test.wasm.zip)

[code]

Error message:

[code]
test.wasm (Rust `cargo build --target=wasm32-wasi --release`):

[code]

JavaScript (node.js):

[code]

[2021-12-20 05:09] alalialisiong opened #287 "How can I use wasm files built using 'embind'?"
Hello. I was working on a project to port c++ code to js side using emscripten's embind function.
However, the runtime execution speed is too slow, so I want to utilize the Wasmer runtime.

How can I use wasm files built using 'embind'?

[2021-12-21 13:00] TerrorJack opened #288 "How is blocking behavior in poll_oneoff handled in the browser?"
In the legacy `0.x` branch, `poll_oneoff` can only handle clock events, and it keeps spinning until the timeout has reached, which will block the whole event loop (https://github.com/wasmerio/wasmer-js/blob/0.x/packages/wasi/src/index.ts#L1369). Is this still the case for the current version?

[2022-01-14 21:12] lemmih opened #289 "Incorrect file metadata."
Seems like something goes wrong when storing or fetching file metadata.

Source:
[code]

Compile:
[code]

Wasmer output:
[code]

Wasmer-js output:
[code]
Expected length is 19 but I'm seeing 1642194215511000 instead. Am I doing something wrong?

[2022-01-25 21:37] syrusakbary commented on #272
This should be fixed with the new implementation

[2022-01-25 21:37] #272 closed

[2022-01-25 21:41] syrusakbary commented on #286
Can you attach here the wasm file so I can test and do a new release?

It should be supported, so I'm not sure what's happening

[2022-01-25 21:42] syrusakbary commented on #263
We moved away from memfs into a pure rust/wasm FS implementation.

Closing the issue :)

[2022-01-25 21:42] #263 closed

[2022-01-25 21:43] syrusakbary commented on #252
The newest release should be using performance.now.

Closing the issue!

[2022-01-25 21:43] #252 closed

[2022-01-25 21:43] syrusakbary commented on #288
In the current version we skipped `poll_oneoff` because it added too much weight to the wasm. We could re-add it back with tokio soon

[2022-01-26 06:30] h1romas4 commented on #286
Yes. It is attached to the previous post. The .wasm is the link below.

[test.wasm.zip](https://github.com/wasmerio/wasmer-js/files/7716087/test.wasm.zip)

Please let me know if there is any information that is missing.
Thank you for your support.

[2022-01-29 22:42] MihaelIsaev opened #290 "Can't resolve 'wasmer_wasi_js_bg.wasm'"
Trying to compile my files using webpack and getting weird error `Can't resolve 'wasmer_wasi_js_bg.wasm'`

Seems it is related to `@wasmer/wasi`, please help

<img width="1148" alt="Screenshot 2022-01-30 at 01 41 41" src="https://user-images.githubusercontent.com/1272610/151679887-d22d522d-6246-4729-a1bf-4b2685ef2cb0.png">

[2022-01-30 14:18] corwin-of-amber commented on #290
Is this Webpack 5? I would recommend declaring `.wasm` files as resource assets in your `webpack.config.js`, like this:
https://webpack.js.org/guides/asset-modules/#resource-assets

[2022-01-30 14:24] corwin-of-amber commented on #290
Actually, looking at my own `node_modules/@wasmer`, it looks like `wasmer_wasi_js_bg.wasm` is not there at all. It sill manages to load WASM binaries though... (disclaimer: I have not tried it with Webpack.)

[2022-01-30 14:30] MihaelIsaev commented on #290
[code]

I rolled back to `@wasmer/wasi@0.12.0` for now where everything just worked

[2022-01-30 17:00] corwin-of-amber commented on #290
well ofc 0.12.0 did not have any wasm component. I looked at the code a little bit, the wasm should be dataurl-packed into the JS, but for some reason there is still a URL pointing at the code. I believe this can be worked around using externals (https://webpack.js.org/configuration/externals/) to make webpack ignore the missing file, since it will not actually be required at runtime. Have to try

[2022-01-30 21:19] corwin-of-amber commented on #290
I managed to convince Webpack with the following `externals` config:
[code]

Clearly a bit weird... @syrusakbary any idea why the line:
https://github.com/wasmerio/wasmer-js/blob/1184d7acbb77d424003b701278d2580107c50918/lib.ts#L78

generates a fetch in `Library.esm.js`?
[code]

[2022-02-15 11:43] HarukaMa opened #302 "Unable to load large wasm modules when loading through wasi"

[2022-02-24 14:15] pshdevio commented on #168
Where does the `wasi` object come from ?

[2022-02-26 20:22] xesxen opened #291 "[0.12.0] RangeError: Invalid typed array length: 4226634690"
I was trying out wasmer with an existing open-source wasm file. Using the CLI (2.1.1), the wasm file works just fine. Using the JS binding generates a JS RangeError.

Do note that the 4,226,634,690 value is rather close to 2^32 (difference being only 68,332,606). The line causing this exception is https://github.com/wasmerio/wasmer-js/blob/0.x/packages/wasi/src/index.ts#L479

As I want to share th

[2022-04-13 10:03] sinoon opened #292 "@wasmer/wasi: Document Demo Fail"
The Demo in : https://docs.wasmer.io/integrations/js/reference-api/wasmer-wasi

[code]

That has am error: `Cannot resolve dependency '@wasmer/wasi/lib/bindings/browser`

![image](https://user-images.githubusercontent.com/6065488/163153820-864f2bef-b86a-4dd8-8326-baefd57271cd.png)

After look inside, @wasmer/wasi `"@wasmer/wasi": "^0.10.0"` has directory `lib` in npm module, but the latest version

[2022-04-28 18:52] nicobytes commented on #292
I have the same problem. I tried to follow the official example in the docs, but it shows an error:

[code]

<img width="760" alt="image" src="https://user-images.githubusercontent.com/7611944/165823718-8807e56c-bc02-4ff4-a0da-9db29fc4650a.png">

Then try to run the official [example for Nodejs](https://github.com/wasmerio/wasmer-js/blob/main/examples/node/helloworld.mjs), like this:

[code]

Node

[2022-05-02 23:36] c4lliope commented on #292
The missing `wasmer_wasi_js_bg.wasm` can be marked as an "external" if you are compiling using `webpack`.
The error has already been discussed in https://github.com/wasmerio/wasmer-js/issues/290.

[2022-05-07 23:16] Wakeful-Cloud commented on #286
I'm running into this problem too with [cura-engine](https://github.com/cloud-cnc/cura-engine/tree/imported-functions) and `@wasmer/wasi` V1.0.2

<details>
<summary>Output from the minified version (@wasmer/wasi)</summary>

[code]
</details>

<details>
<summary>Output from the unminified version (@wasmer/wasi/dist/Library.cjs)</summary>

[code]
</details>

*Note: the cura-engine WASM binary is qui

[2022-05-28 16:26] Gbr22 opened #293 "Doesn't work in browser"
Here is my code:
[code]
When I call wasiTest I get the following error:
![image](https://user-images.githubusercontent.com/25722827/170833990-2fcd4521-8fdd-4291-af1c-b5f25a31b98b.png)
[code]

[2022-05-28 16:35] Gbr22 commented on #293
Update: It seems to work in firefox

[2022-05-28 17:22] Gbr22 commented on #293
TLDR: Move your code to a worker thread

I figured it out

I found a similar issue to mine: https://github.com/wasmerio/wasmer-js/issues/286#issuecomment-1099402450

Which led me to this issue: https://github.com/wasmerio/wasmer/issues/2792#issuecomment-1045986441

I downloaded and built [HarukaMa](https://github.com/HarukaMa)'s version and it threw this error message:
![image](https://user-images

[2022-05-28 17:24] #293 closed

[2022-05-28 19:15] corwin-of-amber commented on #293
I would comment that the loss of the original error string *is* a bug. It even looks like something was supposed to be there: there is an extra tick after `RuntimeError:`. WDYT, can someone look at the code throwing the error perhaps? Might be a simple typo.

[2022-06-24 15:35] outkine commented on #292
The solution from #290 does resolve the `cannot load file` error, but I'm now encountering `ReferenceError: Buffer is not defined`. So returning to the original question: since it seems that the browser bindings file has been removed, does that mean that it's no longer possible to run wasi in the browser?

[2022-06-25 19:51] corwin-of-amber commented on #292
The outdated reference to `@wasmer/wasi/lib/bindings/browser` in the documentation as pointed out by @sinoon and @nicobytes is a hinderance. Can you please remove it?

Also probably should add a note about the `external` config which is required for Webpack users.

[2022-07-15 11:09] X7md opened #294 "Vite, `Buffer is not defined`"
![image](https://user-images.githubusercontent.com/54203033/179210709-9a9fd836-0647-4b0d-a2af-9f05facb2003.png)

reproduction:
https://github.com/X7md/wasmer-js-test

[code]

[2022-07-15 11:25] X7md commented on #294
Fixed:
https://stackoverflow.com/questions/70714690/buffer-is-not-defined-in-react-vite

[2022-07-15 11:25] #294 closed

[2022-07-15 12:12] X7md opened #295 "`Failed to instantiate WASI: RuntimeError`"
I try to run `qjs` but I facing this error.

![image](https://user-images.githubusercontent.com/54203033/179220353-b283196e-d8f3-4d12-af2f-67aacd90bb99.png)

[code]

reproduction:
https://github.com/X7md/wasmer-js-test

[2022-07-15 14:14] X7md commented on #293
Could you put any example or code snippet, about how you actually move it to `Worker`?

[2022-07-16 09:26] ankoh commented on #295
Related: https://github.com/wasmerio/wasmer/issues/2792
The unfortunate truth is that wasmer-js currently fails to instantiate larger wasm modules on the main thread in Chrome.

[2022-07-16 11:49] X7md commented on #295
Yeah, I try on Worker, can't run `qjs` unfortunately...

but my `main.wasm` (Golang Hello World using TinyGo to wasi)... work fine, still don't know why.

[2022-07-16 11:50] X7md commented on #295
reproduction (With Worker):

https://github.com/X7md/wasmer-js-test/tree/with-worker

[2022-07-16 11:52] X7md commented on #295
Also can't bundle it in vite build (RollUp), but work on vite dev (esBuild)

[2022-07-19 03:44] epilys opened #296 "Update `wasmer-js` for 3.0 release"
- [ ] Update any changes the new APIs might bring
- [ ] Update dependencies/dependabot alerts
- [ ] Make sure all examples and documentation work
- [ ] Make a new release

[2022-07-29 08:57] llxStar opened #297 "Where is the source code of "wasmer_wasi_js_bg.wasm"?"
Hi guys，
    Thanks for [wasmer-js](https://github.com/wasmerio/wasmer-js),it is helpful to me.I want to find the source code of "wasmer_wasi_js_bg.wasm" and add my code in.I want to base on "wasmer_wasi_js_bg.wasm" to build my App.I have found [wamser](https://github.com/wasmerio/wasmer) but not here.Can i get the source code or How can i build it?
   Thanks wasmerio again!

[2022-07-29 10:00] epilys commented on #297
`*_bg.wasm` files are generated by `wasm-bindgen`. They include code and/or shims that are required for your project.

[2022-07-29 10:00] #297 closed

[2022-07-29 13:46] corwin-of-amber commented on #297
@llxStar it is basically `src/wasi.rs` compiled with wasm-bindgen as `epilys` mentioned. That of course links with the wasmer lib that you have found. Cargo takes care of the linking.

[2022-08-03 18:58] mhykes opened #298 "wasmer-js import issue in nodejs v16.15.1"
**Issue:**
  When I pass imports to wasi.instantiate() and have a module that tries to import those imports, I get an error and my module won't load.  This isn't related to the chrome browser issue since this is 100% server side.  I've only tested this in nodejs v16.15.1 so far, but I'd be very surprised of this was related to the version of nodejs.

**Example:**
Create a nodejs project with `npm

[2022-08-23 13:27] mhykes commented on #298
Can someone at least confirm this issue so I know it isn't just something with my setup?

I tried stepping through it in the vscode debugger, but the errors seem to happen inside some bytecode / minified code.  I can't quite follow what is going on.

[2022-08-24 17:24] syrusakbary commented on #298
Yes, this is an issue in wasmer-js. We worked half in #299 and when it's shipped it will be fully fixed!

[2022-08-30 20:08] syrusakbary commented on #286
Verified that this issue is fixed with the PR upgrading to Wasmer 3.0 #299 (we also added a test case to make sure it remains fixed in future releases).

We'll publish a new version soon

[2022-08-30 21:22] syrusakbary commented on #298
The PR #299 is now fixed and this issue should be resolved by now.
We've published the version 1.1.0 in NPM with the fix.

Closing the issue! (let me know if it persists)

[2022-08-30 21:22] #298 closed

[2022-08-30 21:22] syrusakbary commented on #296
New version is published. Closing the issue

[2022-08-30 21:22] #296 closed

[2022-08-30 21:23] syrusakbary commented on #295
This is weird.

We have published a new version 1.1.0... could someone verify that the issue is fixed or is still happening? Thanks!

[2022-08-30 21:23] syrusakbary commented on #292
We have published a new version of `@wasmer/wasi` which no longer has the issue I believe. I'll work on updating the wasmer docs :)

[2022-08-30 21:24] #292 closed

[2022-08-30 21:24] syrusakbary commented on #287
Emscripten files doesn't work with wasmer js. Closing the issue

[2022-08-30 21:24] #287 closed

[2022-08-30 21:25] syrusakbary commented on #281
Wasmer 1.0 no longer uses the typescript implementation. Closing the issue as this should be now solved :)

[2022-08-30 21:25] #281 closed

[2022-08-31 03:56] kevinbarabash commented on #286
I have a .wasm file generated by the wasi sdk v16 via rust which makes use of `wasi_snapshot_preview1` methods.  Looking forward to a new release.  In the meantime, I'll do a local build of `@wasmer/wasi` from `main`.

[2022-08-31 04:13] X7md commented on #295
for now, no more error.

but also no output for `wasi.getStdoutString()` but I think this form my side so... I will close this as fixed.

[2022-08-31 04:13] #295 closed

[2022-08-31 04:21] kevinbarabash opened #301 "`pkg` folder isn't included in the published npm package"
This causes issues with the typescript definitions since `dist/wasi.d.ts` contains the following:
[code]

[2022-08-31 10:47] syrusakbary commented on #291
This should be fixed in the current `master`. Closing

[2022-08-31 10:47] #291 closed

[2022-08-31 11:11] #301 closed

[2022-08-31 11:12] #302 closed

[2022-08-31 11:22] syrusakbary commented on #301
This is now fixed in published npm versin `1.1.1`

[2022-09-01 01:22] kevinbarabash commented on #301
@syrusakbary awesome!  Thanks for addressing this so quickly. 🙂

[2022-09-09 03:38] richardanaya opened #304 "How to send stdin after program has been started?"
I'm trying to make a terminal app that runs in browser with wasmer-js, i'm trying to look at how the wasm_bindgen apis can be used to write to a terminal after it's been started (not the initial stdin).

[2022-09-11 19:19] sigma-andex commented on #288
@syrusakbary is there any news on this? or how could I make this available? I'm trying to run a simple [hello world](https://github.com/sigma-andex/wasm-test) which I compiled from Haskell.
I'm getting an error and my understanding is that `__wasi_poll_oneoff@http://localhost:5173/test.wasm:wasm-function[4813]:0x126747` is not available.
<details>
  <summary>Full error message</summary>
  Uncaught

[2022-09-13 07:42] corwin-of-amber commented on #288
FWIW, there is no facility (that I am aware of) in WASM to "yield", that is unwind the stack and hand control over to the main thread with the ability to resume from the same point later. So coroutine-like operations in C programs that were not designed to be async is not really possible, you will have to write your C code to facilitate this.

Two options come to mind:
 * Write your async event lo

[2022-09-18 15:42] michaelfranzl opened #305 "How to use in browsers?"
The README of v1.0.2 states that browsers are supported. However, neither the README nor the example directory contain usage examples for the browser. Using the best guess in the browser,

[code]

gives the following error:

[code]

This comes from https://github.com/wasmerio/wasmer-js/blob/8f3f221a5431eff5c5370f48d9189eba3547f451/lib.ts#L62 Indeed there is no `Buffer` global in browsers.

How to

[2022-09-18 16:21] Jack-Edwards commented on #305
I was probably about to encounter the same problem.  I'd like to use this library in the browser as well.

[2022-09-19 12:08] corwin-of-amber commented on #305
Hi! Currently the Wasmer-JS libraries rely on a bundler. Webpack and Rollup work well. Notice #290 and the comments below about defining `wasmer_wasi_js_bg.wasm` as external; it is actually not needed as its content is inlined in `Library.esm.min.js` (as a data URL).

[2022-09-19 17:46] michaelfranzl commented on #305
@corwin-of-amber When you say that it "relies on a bundler", do you mean that a bundler has to be configured to polyfill `Buffer`? Like from `rollup-plugin-polyfill-node` or `@esbuild-plugins/node-modules-polyfill`?

In contrast, in v0.12.0, `Buffer` was included in wasmer-js/wasi (imported from `buffer-es6` and injected as a dependency): https://github.com/wasmerio/wasmer-js/blob/v0.12.0/packages

[2022-09-19 21:01] corwin-of-amber commented on #305
Yes, exactly. I am pasting the contents of `webpack.config.js` from a hello-world project that I did to learn how to use it; if you find it useful then perhaps I can make a PR to add it to the WasmerJS docs.
[code]

It is true that previous versions were bundled with Buffer. IMO this is now old-style; having your dependencies bundled hinders inter-operability esp. if types from the bundled package

[2022-09-23 02:44] Jack-Edwards opened #306 "Using "wasmer_wasi_js_bg.wasm" from another wasm module in the browser"
[Libsodium](https://github.com/jedisct1/libsodium) has a wasm32-wasi package that requires a wasi implementation in order to work.  I would like to use this package in my Blazor wasm browser application.  I can link the libsodium wasm32-wasi module to my code as if it were a native library, but Blazor wasm falls short in that it doesn't offer any wasi functionality.

My understanding of wasmer-js

[2022-09-23 05:50] syrusakbary commented on #306
It might be possible, but I currently lack the knowledge on how to do it from blazor/.NET apps directly without going through the JS layer.

It might be a good idea to ask to the blazor devs directly

[2022-09-23 14:56] Jack-Edwards commented on #306
Is it correct that I would not be able to interact with the libsodium module directly?  Rather, I would need to provide libsodium to the wasi module in order to do anything with it.

[2022-09-27 14:50] Michael-F-Bryan opened #307 "Wasi.start() doesn't return a non-zero exit code"
While working on `wit-pack`, [I noticed](https://github.com/wasmerio/wit-pack/blob/0b12fe02ca741cb34a74977aaf7b459220fb68fc/crates/wit-pack/tests/js-wasi/index.test.ts#L35-L38) that the `wasi.start()` function never seems to return a non-zero exit code on failure. Instead, it looks like the user is given a generic error.

I'm guessing that we never hit [this branch](https://github.com/wasmerio/was

[2022-10-02 17:22] cdecompilador commented on #305
I'd also like to use the library on the browser, also note that in parcel doesn't work out of the box sadly

[2022-10-04 01:22] Jack-Edwards commented on #306
@syrusakbary Currently the Blazor devs are pointing me towards providing the libsodium.wasm module to the wasmer/wasi runtime in the browser.  Is there a way I can get the "wasmer_wasi_js_bg.wasm" as just a regular file?  I'm not a JS expert, but it appears the wasm file is somehow baked into the JS bundle.

[2022-10-04 02:04] Jack-Edwards commented on #306
Making a little bit of progress.  I am wanting to link the wasmer/wasi .wasm module directly to my Blazor app (bypassing JS), but am receiving an error when linking with emcc.  "wasmer_wasi_js_bg.wasm: not a relocatable wasm file".

[2022-10-04 04:10] syrusakbary commented on #306
Oh yeah, the wasmer_wasi_js_bg.wasm is located here: https://github.com/wasmerio/wasmer-js/blob/main/pkg/wasmer_wasi_js_bg.wasm

[2022-10-04 04:12] syrusakbary commented on #306
However, I'm not sure that what you want to do is to link `[wasmer_wasi_js_bg.wasm](https://github.com/wasmerio/wasmer-js/blob/main/pkg/wasmer_wasi_js_bg.wasm)` with Emscripten.

I think the way to go is to call js from Blazor in a wah that the JS code will call the Wasmer WASI code under the hood, and the `libsodium.wasm` afterwards

[2022-10-04 04:17] Jack-Edwards commented on #306
I tend to agree that linking is not the way to go, now that I've tried, failed, and looked into why it failed.

If I'm having to go through a layer of JS to interact with libsodium either way, I'm starting to think the [libsodium-js](https://github.com/jedisct1/libsodium.js/) repo probably the better path forward.  Unless WASI offers a significant performance boost over an app compiled from Emscri

[2022-10-04 23:35] AlistairKeiller commented on #304
I would also like to know how to send stdin after the program has started.

[2022-10-05 23:48] #306 closed

[2022-10-06 14:17] guregu commented on #305
Here is an esbuild configuration I am using successfully in the browser:
https://github.com/guregu/trealla-js/blob/9dfaf8b886033ea339cd36d005b2555091c56efa/make.cjs#L17-L19

The important bit:
[code]

[2022-10-08 18:14] corwin-of-amber commented on #304
This feature is unfortunately not supported by Wasmer-JS, and for a rather subtle but in-hindsight obvious reason: code running in a JS/WASM runtime is single-threaded, but C programs like bash etc. use a "blocking" API to access stdin. There is no async/await in WASM and there is no mechanism to suspend the currently executing stack frame. Even if the WASM program is running in a Web Worker, it w

[2022-10-26 18:55] olanod opened #308 "Improve WASM size"
The compiled file in `pkg/wasmer_wasi_js_bg.wasm` being `609KB` feels a bit heavy for a something that is basically a wrapper of a built-in WASM engine. Would be nice to see ideas on how this could be improved, I guess it requires going all the way up the dependency chain doing optimizations that might not be trivial but should be worth the effort :)

[2022-11-23 20:23] Cloudef commented on #305
After polyfilling buffer I'm getting
`Uncaught (in promise) Error: Failed to instantiate WASI: RuntimeError: JsValue(TypeError: import object field 'env' is not an Object`